// _MainFooter.less
// v1.0
// Last Updated : 2011-09-20 09:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/tenorlight/Widgets/_Widgets.less";
/*
.main_footer {
	position: relative;
	background-color: @colorCouleur3Clair;
	padding: @gridBaseline @gridGutter;
}
*/