// _Wrappers.less
// v1.1
// Last Updated : 2012-02-10 12:35
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//configuration des styles de base des différents containers pouvant servir à la mise en page du site

//affection d'un style block à tous les containers
.contentWrapper, .navigationWrapper, .fileWrapper, .supWrapper, .wrapper, .subWrapper, .imageFullWrapper, .imageWrapper, .imageGallery, .link_box, .elements, .element { position: relative; display: block; }

//container utilisé pour contenir tout le contenu d'une publication
.contentWrapper {
}

//container utilisé pour contenir les éléments de navigation de la page ou du widget
.navigationWrapper {
	.isLess & { background-color: #FCD80A; }
	clear: both;
	//suppression marge de la navigation
	.elements .element & { margin: 0; }
}
.navigationTop { margin-bottom: @gridBaseline; }
.navigationBottom { margin-top: @gridBaseline; }

//container utitlisé pour contenir les fichiers liés à un article
.fileWrapper {
	.isLess & { background-color: #919EBA; }
}

//container situés directement dans un widget en enblobant plusieurs sous-contenus
.supWrapper {
	.isLess & { background-color: #D9E8A5; }
	& > .title {
		.isLess & { background-color: #B7D450; }
		margin-bottom: @gridBaseline;
	}
	article & {
		.isLess & { background-color: #A8B382; }
	}
}

//container de texte, on ne met les éléments en block que lorsqu'il sont contenu dedans
.wrapper {
	.isLess & { background-color: fadeout(#95AEBD, 50%); }
}

//container situé dans un sous élément (par exemple un listing)
.subWrapper {
	.isLess & { background-color: Violet; }
	
	.elements .element & {
		line-height: @gridBaseline;
		//on modifie le comportement des éléments dans un subWrapper
		//cf http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ pour hack vertical-align
		#dm_content & span { display: inline; vertical-align: top; }
	}
}

//container de l'image en pleine largeur (utilisé dans l'affichage d'un article)
.imageFullWrapper {
	.isLess & { background-color: #169BB5; }
	margin-bottom: @gridBaseline;
}

//configuration de base des deux containers d'images
.imageWrapper, .imageGallery {
	@getClearfix();
	float: left;
	.image, .link {
		display: block;
		float: left;
		margin-bottom: @gridBaseline;
		margin-right: @gridGutter;
		//suppression marge dans listings
		.elements .element & { margin-bottom: 0; }
		&.last { margin-right: 0; }
	}
	.link .image { float:none; margin: 0; }
}

//container de l'image
.imageWrapper {
	.isLess & { background-color: #1E16B5; }
}

//container d'une galerie
.imageGallery {
	.isLess & { background-color: #1678B5; }
}

//liens englobants en boite
.link_box {
	.isLess & { background-color: MediumPurple; }
	//force l'agrandissement en cas de présence de contenu flottant
	@getClearfix();
	outline: 0;
	text-decoration: none;
	&:hover { text-decoration: underline; }
	
	.elements .element & {
		//suppression soulignement des liens englobants en boite
		&, &:hover { text-decoration: none; }
	}
}

//listings d'éléments diverses (article, personnes, organisations, etc)
.elements {
	.isLess & { background-color: fadeout(#999, 75%); }
	//suppression de toute marge et puce (à tester avec un article (vérifier si balisage identique)
	margin: 0;
	padding: 0;
	list-style: none;
	
	.element {
		.isLess & { background-color: fadeout(#bbb, 75%); }
		//force l'agrandissement en cas de présence de contenu flottant
		@getClearfix();
	}
}