// _Wrappers.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN


//adaptation de la configuration de base des deux containers d'images (désactivé temporairement)
/*
.imageWrapper {
	background-color: darkblue;
	float: right;
	//margin appliqué aux miniatures
	.image, .link {
		margin-right: 0;
		margin-left: @gridGutter;
		&.last { margin-left: 0; }
	}
}
.imageGallery { background-color: darkred; }
*/

//stylage des listings
.elements {
	background-color: PaleTurquoise;
	.element {
		.wrapper {
			.teaser, .description {
				background-color: LemonChiffon;
			}
		}
	}
}