// _ContentNivoGallery.less
// v1.0
// Last Updated : 2012-01-05 14:55
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/ContentNivoGallery/_ContentNivoGallery.less";


.content_nivo_gallery {
	background-color: lightcoral;
	
	
	.nivo-directionNav {
		position: relative;
		background-color: lightgreen;
		
		
		a {
			display: block;
			width: 30px;
			height: 30px;
			
			.nivo-prevNav {
				background-color: teal;
			}
			.nivo-nextNav {
				background-color: brown;
			}
		}
	}
}