// _Megadropdown.less
// v1.0
// Last Updated : 2011-10-06 12:40
// Copyright : SID Presse
// Author : Arnaud GAUDIN


ul.megadropdown,
ul.megadropdown li,
ul.megadropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.megadropdown {
	position: relative;
	z-index: 597;
	float: left;
	
	//test affichage pour stylage
	//& > li:nth-child(5) {
	//	ul, ul ul { visibility: visible; }
	//}
	
	//niveau 0
	li {
		float: left;
		line-height: @gridBaseline;
		vertical-align: middle;
		zoom: 1;
		
		//positionnement des liens (toujours ciblé par cette classe)
		.link { position: relative; display:block; }
		
		&.hover, &:hover {
			z-index: 599;
			cursor: default;
			left: 0;
		}
	}
	
	//gestion de l'affichage direct du premier niveau
	& > li.dm_dir {
		& > ul {
			visibility: hidden;
		}
		&.hover > ul, &:hover > ul {
			visibility: visible;
		}
	}
	
	//niveau 1 et +
	ul {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 598;
		
		//affectation de la pleine largeur au premier sous-niveau
		@gridSiteWidth();
		
		ul {
			position: relative;
			top: 0;
			left: 0;
			@gridWidth(2);
		}
		
		li {
			position: relative;
			float: none;
			//pour les liens de niveau 1 non situé dans un dossier
			@gridWidth(3; @gridGutter);
			
			//largeur automatique pour les suivants
			li{ width: auto; }
			
			&.dm_dir {
				float: left;
				width: auto;
				
				&.last, &.lastOfRow {
					//border-right: 0;
					//@gridWidth(2);
				}
				
				//gestion des sous-niveau supérieur à 2
				ul li.dm_dir {
					width: auto;
					border-right: 0;
				}
			}
		}
	}
}