// _Tables.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//style par défaut d'un tableau de données


//largeur minimale pour un tableau (5 colonnes)
table, thead, tbody { @gridMinWidth(5;0); }

table {
	background-color: transparent;
	border-collapse: collapse;
	border: 0;
	margin: 0 auto @gridBaseline auto;
	width: auto;
	font-size: @fontSizeSmall;
	line-height: @gridBaseline;
	
	//essayer de voir pour avoir un collonage régulier
	
	
	//légende du tableau
	caption {
		background-color: @colorCouleur1;
		text-align: center;
		font-weight: bold;
		font-size: @fontGlobalSizePx;
		color: @colorWhite;
		padding: 0 @offS;
		@gridMinWidth(5; @offS * 2);
	}
	
	td, th {
		padding: 0 @offS;
		empty-cells: show;
		text-align: center;
		vertical-align: top;
		border-style: none solid;
		border-width: 1px;
	}
	
	//désactivation bordure sur les côtés
	tr {
		td:first-child, th:first-child{ border-left: 0; }
		td:last-child, th:last-child{ border-right: 0; }
	}
	
	//couleur par défaut de cellule
	td {
		background-color: @colorCouleur3Clair;
		border-color: transparent;
	}
	
	//couleur par défaut de titrage
	th, td.titre {
		background-color: @colorCouleur3Fonce;
		color: @colorWhite;
		border-color: @colorCouleur3FonceSup;
	}
	
	//couleurs par défaut du header et du footer
	thead { tr td { background-color: @colorCouleur3MoyenSup; } }
	tfoot { tr td { background-color: @colorCouleur3ClairSup; } }
	
	tbody {
		tr {
			&:nth-of-type(odd), &:nth-of-type(even) {
				td {
					&.texte1 { background-color: @colorCouleur3Clair; border-color: @colorCouleur3ClairSup; }
					&.texte2 { background-color: @colorCouleur3Moyen; border-color: @colorCouleur3MoyenSup; }
					&.texte3 { background-color: @colorCouleur3; border-color: @colorCouleur3Sup; }
					&.titre { background-color: @colorCouleur3Fonce; color: @colorWhite; border-color: @colorCouleur3FonceSup; }
				}
				&:hover {
					td{
						&.texte1 { background-color: @colorCouleur3ClairSup; border-color: @colorCouleur3Clair; }
						&.texte2 { background-color: @colorCouleur3MoyenSup; border-color: @colorCouleur3Moyen; }
						&.texte3 { background-color: @colorCouleur3Sup; border-color: @colorCouleur3; }
						&.titre { background-color: @colorCouleur3Fonce; border-color: @colorCouleur3FonceSup; }
					}
				}
			}
			
			&:nth-of-type(odd) {
				td{
					background-color: @colorCouleur3Clair;
					border-color: @colorCouleur3ClairSup;
					//désactivation bordure sur les côtés
					&:first-child { border-left: 0; }
					&:last-child { border-right: 0; }
				}
				&:hover td{
					background-color: @colorCouleur3ClairSup; border-color: @colorCouleur3Clair;
					//désactivation bordure sur les côtés
					&:first-child { border-left: 0; }
					&:last-child { border-right: 0; }
				}
			}
			&:nth-of-type(even) {
				td{
					background-color: @colorCouleur3Moyen;
					border-color: @colorCouleur3MoyenSup;
					//désactivation bordure sur les côtés
					&:first-child { border-left: 0; }
					&:last-child { border-right: 0; }
				}
				&:hover td{
					background-color: @colorCouleur3MoyenSup;
					border-color: @colorCouleur3Moyen;
					//désactivation bordure sur les côtés
					&:first-child { border-left: 0; }
					&:last-child { border-right: 0; }
				}
			}
		}
	}
}