// _SocialNetworkLogos.less
// v1.0
// Last Updated : 2012-02-13 16:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//OPTIMISATION : n'inclure que les utilitaires réellement utilisés dans ce widget (cf dossiers Utilities)
@import "_framework/SPLessCss/Utilities/Grids/_GridsUtils.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/SocialNetworkLogos/_SocialNetworkLogos.less";

.social_network_logos {
	float: left;
	.dm_widget_inner {
		.isLess & { background-color: #28C0DE; }
		
		#dm_custom_top & {
			@gridWidth(@gridCol_SidebarLeft);
			margin-right: @gridGutter;
		}
	}
	
	.elements {
		.element {
			//on supprime le décalage à gauche pour une icone sur 5 (à adapter si changement taille sidebar-left)
			&:nth-child(5) { margin-right: 0; }
		}
	}
}