[submodule "dmCorePlugin/plugins/sfImageTransformPlugin"]
	path = dmCorePlugin/plugins/sfImageTransformPlugin
	url = git://github.com/diem-project/sfImageTransformPlugin.git
[submodule "dmCorePlugin/plugins/sfWebBrowserPlugin"]
	path = dmCorePlugin/plugins/sfWebBrowserPlugin
	url = git://github.com/diem-project/sfWebBrowserPlugin.git
[submodule "dmCorePlugin/plugins/sfFeed2Plugin"]
	path = dmCorePlugin/plugins/sfFeed2Plugin
	url = git://github.com/diem-project/sfFeed2Plugin.git
[submodule "dmCorePlugin/plugins/sfFormExtraPlugin"]
	path = dmCorePlugin/plugins/sfFormExtraPlugin
	url = git://github.com/diem-project/sfFormExtraPlugin.git
[submodule "symfony"]
	path = symfony
	url = git://github.com/vjousse/symfony-1.4.git
[submodule "dmCorePlugin/test/project/plugins/dmTagPlugin"]
	path = dmCorePlugin/test/project/plugins/dmTagPlugin
	url = git://github.com/diem-project/dmTagPlugin.git
[submodule "dmCorePlugin/lib/vendor/php-html-writer"]
	path = dmCorePlugin/lib/vendor/php-html-writer
	url = git://github.com/ornicar/php-html-writer.git
[submodule "dmCorePlugin/lib/vendor/php-user-agent"]
	path = dmCorePlugin/lib/vendor/php-user-agent
	url = git://github.com/ornicar/php-user-agent
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.example.aloha.plugins.Product"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.example.aloha.plugins.Product
	url = https://github.com/alohaeditor/Aloha-Plugin-Product.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.example.aloha.plugins.Save"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.example.aloha.plugins.Save
	url = https://github.com/alohaeditor/Aloha-Plugin-Save.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Abbr"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Abbr
	url = https://github.com/alohaeditor/Aloha-Plugin-Abbreviation.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Format"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Format
	url = git@github.com:alohaeditor/Aloha-Plugin-Format.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.HighlightEditables"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.HighlightEditables
	url = https://github.com/alohaeditor/Aloha-Plugin-HighlightEditables.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Link"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Link
	url = https://github.com/alohaeditor/Aloha-Plugin-Link.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.LinkChecker"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.LinkChecker
	url = https://github.com/alohaeditor/Aloha-Plugin-LinkChecker.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.List"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.List
	url = https://github.com/alohaeditor/Aloha-Plugin-List.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Paste"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Paste
	url = https://github.com/alohaeditor/Aloha-Plugin-Paste.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.TOC"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.TOC
	url = https://github.com/alohaeditor/Aloha-Plugin-TOC.git
[submodule "dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Table"]
	path = dmCorePlugin/plugins/dmWidgetTextareaPlugin/web/aloha/plugins/com.gentics.aloha.plugins.Table
	url = https://github.com/alohaeditor/Aloha-Plugin-Table.git
