// _DebugOthers.less
// v1.0
// Last Updated : 2011-11-14 15:00
// Copyright : SID Presse | http://github.com/necolas | http://html5boilerplate.com | http://www.cssplay.co.uk
// Author : Arnaud GAUDIN | Nicolas Gallagher | Paul Irish | Stuart Nicholls


//=============================================================================
//	Autres débugs
//=============================================================================

//gestion baseline pour les paragraphes
p { word-spacing: 0.125em; hyphenate: auto; hyphenate-lines: 3; margin-bottom: @gridBaseline; }

//permet d'éviter le décalage de baseline
big, small { line-height: @fontGlobalLineHeightMonospace; }
big { font-size: 110%; }
small { font-size: 85%; }

//permet d'interdire toute édition inline de la police
font {
	font-family: @fontGlobalFamilySansSerif !important;
	font-size: inherit !important;
	line-height: inherit !important;
	color: inherit !important;
}

//application forcée (vérifier utilité lors des debugs navigateurs)
p, pre, address, ul, ol, dl, dialog {
	position: relative;
	font-size: @fontGlobalSizePx;
	line-height: @gridBaseline;
}