// _DebugEmbeddedContent.less
// v1.0
// Last Updated : 2011-11-14 15:00
// Copyright : SID Presse | http://github.com/necolas | http://html5boilerplate.com | http://www.cssplay.co.uk
// Author : Arnaud GAUDIN | Nicolas Gallagher | Paul Irish | Stuart Nicholls


//=============================================================================
//	Embedded content
//=============================================================================

// 1. Improve image quality when scaled in IE7: h5bp.com/d
// 2. Remove the gap between images and borders on image containers: h5bp.com/e 

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

// Correct overflow not hidden in IE9 
svg:not(:root) { overflow: hidden; }