// _GridCalcul.less
// v1.0
// Last Updated : 2011-09-26 16:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//CALCUL DES DIFFÉRENTES VALEURS NÉCESSAIRES À LA CONSTRUCTION DU SITE

//toujours égal en attendant débug
@gridBaseline: @gridGutter;						//initialement 24 chez less Framework

@gridWidth_Site: @gridColWidth * @gridCol + @gridGutter * (@gridCol -1);
@gridWidth_SidebarLeft: @gridColWidth * @gridCol_SidebarLeft + @gridGutter * (@gridCol_SidebarLeft -1);
@gridWidth_SidebarRight: @gridColWidth * @gridCol_SidebarRight + @gridGutter * (@gridCol_SidebarRight -1);
//@gridWidth_Content: @gridColWidth * @gridCol_Content + @gridGutter * (@gridCol_Content -1);	//désactivé car dépendant des sidebars affichées
//TEST auto ajustement pour résolution
//@gridPadding: (@gridScreen - @gridWidth_Site) / 2;

//CALCUL DES PARAMÈTRES DE POLICE
//calcul pourcentage pour obtenir taille désirée
@fontGlobalSizePrct: 0% + round((@fontGlobalSize / 16) * 1000) / 10;
//calcul ratio de line-height général
@fontGlobalLineHeight: round((@gridBaseline / @fontGlobalSize) * 1000) / 1000;
//les polices monospace ont un line-height légèrement inférieur (rapport de 1.33/1.5)
@fontGlobalLineHeightMonospace: round(@fontGlobalLineHeight * (1.333 / 1.5) * 1000) / 1000;
//calcul offset baseline par défaut
@fontOffsetBaseline: floor((@gridBaseline - (@fontGlobalSizePx * @fontGlobalLetterRatio)) / 2) + 0px;


//CONFIGURATION DES OFFSET SYSTÈMES GÉNÉRAUX
//on se base sur la gouttière de la grille sélectionnée
//gridGutter est sans unité : on lui affecte par le multiplicateur
@offS: @gridGutter / 4;
@offM: @gridGutter / 2;
@offL: @gridGutter * 1;
@offX: @gridGutter * 2;


//DIMENSIONS ICONES DE VALIDATION
//calcul des différentes valeurs de placement des icones de validation
@icoValidTopPos: @icoOffset;
@icoValidMidPos: @icoTotalHeight/-2 + @icoIconHeight/2 + @icoOffset;
@icoValidTBotPos: @icoTotalHeight*-1 + @icoIconHeight + @icoOffset;


//CONFIGURATION GÉNÉRALE DU LAYOUT
@gridAutoLayout(@resolution: @gridScreen; @nbreCols: @gridCol; @nbreCols_SidebarLeft: @gridCol_SidebarLeft; @nbreCols_SidebarRight: @gridCol_SidebarRight) {
	//recalcul des valeurs nécessaires à la mise en page du site
	@getGridWidth_Site: @gridColWidth * @nbreCols + @gridGutter * (@nbreCols -1);
	@getGridWidth_SidebarLeft: @gridColWidth * @nbreCols_SidebarLeft + @gridGutter * (@nbreCols_SidebarLeft -1);
	@getGridWidth_SidebarRight: @gridColWidth * @nbreCols_SidebarRight + @gridGutter * (@nbreCols_SidebarRight -1);
	@getGridPadding: (@resolution - @getGridWidth_Site) / 2;
	
	//CONFIGURATION ZONE DE CONTENU EN FONCTION DE LA PRÉSENCE DES SIDEBARS
	#dm_content,
	.no-sidebar #dm_content {
		float: left;
		width: @getGridWidth_Site;
		margin-left: 0;
		margin-right: @getGridWidth_Site * -1;
	}
	
	.sidebar-left #dm_content {
		width: @getGridWidth_Site - @getGridWidth_SidebarLeft - @gridGutter;
		margin-left: @getGridWidth_SidebarLeft + @gridGutter;
		margin-right: @getGridWidth_Site * -1;
	}
	
	.sidebar-right #dm_content {
		width: @getGridWidth_Site - @getGridWidth_SidebarRight - @gridGutter;
		margin-left: 0;
		margin-right: (@getGridWidth_Site - @getGridWidth_SidebarRight - @gridGutter) * -1;
	}
	
	.two-sidebars #dm_content {
		width: @getGridWidth_Site - @getGridWidth_SidebarLeft - @getGridWidth_SidebarRight - @gridGutter * 2;
		margin-left: @getGridWidth_SidebarLeft + @gridGutter;
		margin-right: (@getGridWidth_Site - @getGridWidth_SidebarRight - @gridGutter) * -1;
	}
	
	//PLACEMENT SIDEBARS
	#dm_sidebar_left {
		width: @getGridWidth_SidebarLeft;
		margin-left: 0;
		margin-right: @getGridWidth_SidebarLeft * -1;
	}
	
	#dm_sidebar_right {
		width: @getGridWidth_SidebarRight;
		margin-left: @getGridWidth_Site - @getGridWidth_SidebarRight;
		margin-right: @getGridWidth_Site * -1;
	}
}

//Fonction de mise en page automatique en mode portrait
@gridAutoLayoutPortrait(@resolution: @gridScreen; @nbreCols: @gridCol; @nbreCols_SidebarLeft: @gridCol_SidebarLeft; @nbreCols_SidebarRight: @gridCol_SidebarRight) {
	//recalcul des valeurs nécessaires à la mise en page du site
	@getGridWidth_Site: @gridColWidth * @nbreCols + @gridGutter * (@nbreCols -1);
	@getGridWidth_SidebarLeft: @gridColWidth * @nbreCols_SidebarLeft + @gridGutter * (@nbreCols_SidebarLeft -1);
	@getGridWidth_SidebarRight: @gridColWidth * @nbreCols_SidebarRight + @gridGutter * (@nbreCols_SidebarRight -1);
	@getGridPadding: (@resolution - @getGridWidth_Site) / 2;
	
	//on ne déplace que la sidebar-right donc on réorganise le contenu que si celle-ci est présente dans la page
	.sidebar-right #dm_content {
		//background-color: #aab;
		width: @getGridWidth_Site;
		margin-left: 0;
		margin-right: @getGridWidth_Site * -1;
	}

	.two-sidebars #dm_content {
		//background-color: #baa;
		width: @getGridWidth_Site - @getGridWidth_SidebarLeft - @gridGutter;
		margin-left: @getGridWidth_SidebarLeft + @gridGutter;
		margin-right: @getGridWidth_Site * -1;
	}
	
	//PLACEMENT SIDEBARS
	//placement de la sidebarRight en dessous du contenu
	#dm_sidebar_right {
		//background-color: #977;
		clear: both;
		width: @getGridWidth_Site;
		margin-left: 0;
		margin-right: 0;
	}
	
	.two-sidebars #dm_sidebar_right {
		width: @getGridWidth_Site - @getGridWidth_SidebarLeft - @gridGutter;
		margin-left: @getGridWidth_SidebarLeft + @gridGutter;
	}
}