// _GridMedia.less
// v1.1
// Last Updated : 2011-12-06 9:40
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//DÉCLARATION DES FONCTIONS MEDIAS DU FRAMEWORK UTILISÉES DANS LES REQUÊTES MÉDIAS
@frameworkMedia_DesktopWXGA() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "DesktopWXGA"; }
}
@frameworkMedia_DesktopWSXGA() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "DesktopWSXGA"; }
}
@frameworkMedia_DesktopWSXGAplus() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "DesktopWSXGAplus"; }
}
@frameworkMedia_DesktopWUXGA() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "DesktopWUXGA"; }
}
@frameworkMedia_TabletLandscape() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "TabletLandscape"; }
	//désactivation de la scrollBar
	html { overflow-y: hidden; }
}
@frameworkMedia_TabletPortrait() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "TabletPortrait"; }
	//désactivation de la scrollBar
	html { overflow-y: hidden; }
}
@frameworkMedia_MobileLandscape() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "MobileLandscape"; }
	//désactivation de la scrollBar
	html { overflow-y: hidden; }
}
@frameworkMedia_MobilePortrait() {
	//ajout infos de debug
	.debugTemplate .debugInfo .screenType .value:after { content: "MobilePortrait"; }
	//désactivation de la scrollBar
	html { overflow-y: hidden; }
}

//IMPORTATION DES MEDIAS TYPES POUR LE FRAMEWORK
//ce fichier ne doit pas inclure de variables réutilisées par le reste du système

//importation des tailles supérieures, du plus petit au plus grand
@import "_framework/SPLessCss/Grids/Medias/_DesktopWXGA.less";
@import "_framework/SPLessCss/Grids/Medias/_DesktopWSXGA.less";
@import "_framework/SPLessCss/Grids/Medias/_DesktopWSXGAplus.less";
@import "_framework/SPLessCss/Grids/Medias/_DesktopWUXGA.less";

//importation des tailles inférieures, du plus grand au plus petit
@import "_framework/SPLessCss/Grids/Medias/_TabletLandscape.less";
@import "_framework/SPLessCss/Grids/Medias/_TabletPortrait.less";
@import "_framework/SPLessCss/Grids/Medias/_MobileLandscape.less";
@import "_framework/SPLessCss/Grids/Medias/_MobilePortrait.less";