// _GridGetVariables.less
// v1.0
// Last Updated : 2012-01-31 10:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Ce fichier rassemble un ensemble de variables destinées à l'export vers la partie PHP du framework

//GRID
.grid {
	gridContainer:@gridContainer;
	currentGabarit:@currentGabarit;
	
	gridScreenType:@gridScreenType;
	gridScreen:@gridScreen;
	gridCol:@gridCol;
	
	gridCol_SidebarLeft:@gridCol_SidebarLeft;
	gridCol_SidebarRight:@gridCol_SidebarRight;
	gridCol_Content:@gridCol_Content;
	
	gridColWidth:@gridColWidth;
	gridGutter:@gridGutter;
	gridBaseline:@gridBaseline;
	
	gridWidth_Site:@gridWidth_Site;
	gridWidth_SidebarLeft:@gridWidth_SidebarLeft;
	gridWidth_SidebarRight:@gridWidth_SidebarRight;
	
	thumbS_col:@thumbS_col;
	thumbS_bl:@thumbS_bl;
	thumbM_col:@thumbM_col;
	thumbM_bl:@thumbM_bl;
	thumbL_col:@thumbL_col;
	thumbL_bl:@thumbL_bl;
	thumbX_col:@thumbX_col;
	thumbX_bl:@thumbX_bl;
	
	thumbContent_col:@thumbContent_col;
	thumbContent_bl:@thumbContent_bl;
}