// _ConfigColors.less
// v0.1
// Last Updated : 2011-06-24 11:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//CONFIGURATION DES COULEURS DE LAYOUT ET DE LEURS VARIANTES
//à définir dans Symfony avec une interface de type config v2ter
@colorCouleur1: #ec7f22;				// TSL : 28/86/93
@colorCouleur1Clair: #f9bc86;			// TSL : 28/46/98		S-40 L+5
@colorCouleur1Moyen: #ba5600;			// TSL : 28/100/73		S+30 L-20
@colorCouleur1Fonce: #a04a00;			// TSL : 28/100/63		S+30 L-30

@colorCouleur2: #473933;				// TSL : 18/28/28
@colorCouleur2Clair: #7a6a64;			// TSL : 18/18/48		S-10 L+20
@colorCouleur2ClairSup: #ad988e;		// TSL : 18/18/68		S-10 L+40
@colorCouleur2Moyen: #61514b;			// TSL : 18/23/38		S-5 L+10
@colorCouleur2MoyenSup: #6e5c54;		// TSL : 18/23/43		S-5 L+15
@colorCouleur2Sup: #54443d;				// TSL : 18/28/33		S L+5
@colorCouleur2Fonce: #14100e;			// TSL : 18/33/8		S+5 L-20
@colorCouleur2FonceSup: #211916;		// TSL : 18/33/13		S+5 L-15

@colorCouleur3: #918c80;				// TSL : 42/12/57
@colorCouleur3Clair: #eae5da;			// TSL : 42/7/92		S-5 L+35
@colorCouleur3ClairSup: #f7f2e6;		// TSL : 42/7/97		S-5 L+40
@colorCouleur3Moyen: #c4bdad;			// TSL : 42/12/77		S L+20
@colorCouleur3MoyenSup: #d1cab8;		// TSL : 42/12/82		S L+25
@colorCouleur3Sup: #9e988b;				// TSL : 42/12/62		S L+5
@colorCouleur3Fonce: #5e5645;			// TSL : 42/27/37		S+15 L-20
@colorCouleur3FonceSup: #6b624e;		// TSL : 42/27/42		S+15 L-15

//CONFIGURATION DES COULEURS SYSTÈME GÉNÉRALES
@colorText: #222;
@colorBlack: #000;
@colorWhite: #fff;
@colorSelection: @colorCouleur3Moyen;			//Also: hot pink! : #ff5e99
@colorIns: #ff9;
@colorMark: #ff0;
@colorRequired: #f55;
@colorValidate: #abbe5f;