// _MainHeader.less
// v1.0
// Last Updated : 2011-09-20 09:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/OperaTheme/Widgets/_Widgets.less";

.main_header {
	.dm_widget_inner {
		background-color: #ddd;
		
		.imageWrapper {
			background-color: #888;
			float: left;
			.image, .link {
				margin-left: 0;
				margin-right: @gridGutter;
				&.last { margin-right: 0; }
			}
		}
	}
	
	.dm_site_title {
	}
}