// _BaseEditoriale.less
// v1.0
// Last Updated : 2011-09-16 12:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Structure généraled de la base éditoriale
#dm_content {
	
	
	
	
}

//conteneur des images de pleine largeur
#dm_content,
.no-sidebar #dm_content {
	.imageFullWrapper {
		position: relative;
		overflow: hidden;
		margin-bottom: @gridBaseline;
		//par défaut l'image dans le contenu a le format G (peut être amené à évoluer vers un format dynamique)
		@gridFloorWidth(@imageFormatWidth_G);
		@gridFloorHeight(@imageFormatHeight_G);
		
		//on recalcule localement la dimension appliquée
		@nbreFloorCol: floor(@imageFormatWidth_G / (@gridColWidth + @gridGutter));
		@elementWidth: @gridColWidth * @nbreFloorCol + @gridGutter * (@nbreFloorCol -1);
		//calcul de l'offset de déplacement
		@offsetReplacement: (@imageFormatWidth_G - @elementWidth) / -2;
		
		//placement de l'image
		.image {
			display: block;
			margin-left: @offsetReplacement;
		}
	}
}

//on applique la largeur en fonction du nombre de colonnes affichées
.sidebar-left #dm_content {
	.imageFullWrapper {
		@nbreColContent: @gridCol - @gridCol_SidebarLeft;
		@gridMaxWidth(@nbreColContent; 0);
	}
}
.sidebar-right #dm_content {
	.imageFullWrapper {
		@nbreColContent: @gridCol - @gridCol_SidebarRight;
		@gridMaxWidth(@nbreColContent; 0);
	}
}
.two-sidebars #dm_content {
	.imageFullWrapper {
		@nbreColContent: @gridCol - @gridCol_SidebarLeft - @gridCol_SidebarRight;
		@gridMaxWidth(@nbreColContent; 0);
	}
}