// _DebugBase.less
// v1.0
// Last Updated : 2011-11-14 15:00
// Copyright : SID Presse | http://github.com/necolas | http://html5boilerplate.com | http://www.cssplay.co.uk
// Author : Arnaud GAUDIN | Nicolas Gallagher | Paul Irish | Stuart Nicholls


//=============================================================================
//	Typography
//=============================================================================

//Addresses styling not present in IE7/8/9, S5, Chrome
abbr[title] { border-bottom: 1px dotted @colorText; }

//Addresses style set to 'bolder' in FF3+, S4/5, Chrome
b, strong { font-weight: bold; }

//Gestion marge des citations
blockquote { margin: @gridBaseline @offX; }

//Addresses styling not present in S5, Chrome
dfn { font-style: italic; }

//Gestion bordure par défaut
hr {
	position: relative;
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid @colorCouleur3Moyen;
	margin: @gridBaseline 0 0 0;
	padding: (@gridBaseline -1px) 0 0 0;
}

//Addresses styling not present in IE6/7/8/9
ins { background: @colorIns; color: @colorBlack; text-decoration: none; }
mark { background: @colorMark; color: @colorBlack; font-style: italic; font-weight: bold; }

// Redeclare monospace font family: h5bp.com/j
pre, code, kbd, samp { font-family: monospace, monospace;  font-size: 1em; }
.ie6 { pre, code, kbd, samp { font-family: 'courier new', monospace; } }

// Improve readability of pre-formatted text in all browsers
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

// 1. Addresses CSS quotes not supported in IE6/7
// 2. Addresses quote property not supported in S4
q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

// Position subscript and superscript content without affecting line-height: h5bp.com/k
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }