// _Default.less
// v1.0
// Last Updated : 2011-10-06 12:40
// Copyright : SID Presse
// Author : Arnaud GAUDIN


ul.megadropdown {
	//DÉFINITIONS DES STYLES DES LIENS À DIFFÉRENTS NIVEAUX
	//tous les liens
	.link {
		text-transform: uppercase;
		color: @colorCouleur3Clair;
		text-decoration: none;
	}
	//liens du niveau 0
	& > li {
		& > .link {
			font-weight: bold;
			font-size: @fontSizeH5Px;
			
			//padding: (@gridBaseline) (@gridGutter -1px);
			padding: (floor(@gridBaseline*3/4) + 0px) (@gridGutter -1px) (floor(@gridBaseline*3/4) + 1px) (@gridGutter -1px);
			border-left: 1px solid @colorCouleur3Clair;
			border-right: 1px solid @colorCouleur3Fonce;
			&:hover {
				//ajout dégradé shiny
				@verticalGradientMultiPie-4(13%;50%;50%;87%;@colorCouleur2Clair;@colorCouleur2MoyenSup;@colorCouleur2Moyen;@colorCouleur2);
			}
		}
		//suppression bordures aux extrêmes
		&.first > .link {
			border-left: 0; padding-left: @gridGutter;
			&:hover { border-left: 1px solid @colorCouleur3Clair; padding-left: (@gridGutter -1px); }
		}
		&.last > .link {
			border-right: 0; padding-right: @gridGutter;
			&:hover { border-right: 1px solid @colorCouleur3Clair; padding-right: (@gridGutter -1px); }
		}
	}
	//liens des niveaux 1 et +
	ul li {
		.link:hover { background-color: @colorCouleur3Clair; color: @colorCouleur1; }
		//liens des sous parties
		&.dm_dir > .link {
			color: @colorCouleur1;
			font-weight: bold;
			font-size: @fontSizeH6Px;
			&:hover { background-color: transparent; text-decoration: underline; }
		}
	}
	
	//DÉFINITIONS DES STYLES DES SOUS MENUS À DIFFÉRENTS NIVEAUX
	//niveau 1 et +
	ul {
		background-color: @colorCouleur2Moyen;
		//padding: 0 @gridGutter @gridBaseline @gridGutter;
		//left: @gridGutter * -1;
		// 0 @gridGutter
		padding: @gridBaseline @gridGutter;
		//changement de la pleine largeur au premier sous-niveau
		@gridWidth(@gridCol; (@gridGutter*2));
		
		//niveau 2 et +
		ul {
			padding: 0; left: 0;
			background-color: transparent;
			@boxShadow(none);
		}
		
		//sous parties de niveau 2 et +
		li {
			&.dm_dir {
				border-right: 1px dotted @colorCouleur3Clair;
				padding: 0 (@gridGutter/2 -1px) 0 (@gridGutter/2);
				margin-bottom: @gridBaseline;
				
				//raccourcissement des zones extrêmes (sauf .last car pas forcément en fin de ligne) (firstOfRow, lastOfRow, inFirstRow et inLastRow ajoutés en JS)
				&.first, &.firstOfRow, &.lastOfRow {
					ul { @gridWidth(2; @gridGutter); }
				}
				&.first, &.firstOfRow { padding-left: 0; }
				&.last, &.lastOfRow { border-right: 0; }
				&.lastOfRow { padding-right: 0; }
				
				//suppression marge pour la dernière ligne
				&.inLastRow { margin-bottom: 0; }
				
				//niveau 3 et +
				ul li.dm_dir { padding-left: @gridGutter; padding-right: 0; }
			}
		}
	}
}

//ajout des transitions pour navigateurs récents
.csstransitions.opacity {
	ul.megadropdown {
		//niveau 1 et + (bug Chrome qui anime tout les paramètres)
		ul li {
			.link {
				@transitionCompress(background-color, color; .5s, .2s; ease-in-out;0);
			}
		}
		//gestion de l'affichage direct du premier niveau
		& > li.dm_dir {
			& > ul {
				opacity: 0;
				@transitionCompress(visibility, opacity; .2s; ease-out; .2s, 0);
				//safari ne supporte pas la déclaration séparé complète différencié en pseudo classe
				//@transition(visibility, opacity; .2s; ease-out; .2s, 0);
				//@transitionProperty(visibility, opacity);
				//@transitionDuration(.2s);
				//@transitionFunction(ease-out);
				//@transitionDelay(.2s, 0);
			}
			&.hover > ul, &:hover > ul {
				opacity: 1;
				@transitionCompress(visibility, opacity; .2s; ease-out; 0);
				//safari ne supporte pas la déclaration partielle différencié en pseudo classe
				//@transitionDelay(0);
			}
		}
	}
}

//ajout styles navigateur récents
.rgba {
	ul.megadropdown {
		//uniquement aux premiers sous menus
		& > li > ul {
			//ajout ombrage
			@boxShadow(@gridBaseline/8 @gridBaseline/8 @gridBaseline/8 fadeout(@colorCouleur2Fonce,50%));
		}
	}
}