// _GridConfig.less
// v1.0
// Last Updated : 2011-06-01 9:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//ce fichier ne doit inclure que les variables de configuration de la grille et aucune sortie

//fonctions d'importation du système de grille
@importGridInit(){ @import "_framework/SPLessCss/Grids/Types/Grid_Default/_GridInit.less"; }
@importGridMedia(){ @import "_framework/SPLessCss/Grids/Types/Grid_Default/_GridMedia.less"; }

//DÉFINITION DES RÉSOLUTIONS PAR DÉFAUT
@gridScreen_MobilePortrait: 320px;
@gridScreen_MobileLandscape: 480px;
@gridScreen_TabletPortrait: 768px;
@gridScreen_TabletLandscape: 1024px;
@gridScreen_DesktopWXGA: 1280px;
@gridScreen_DesktopWSXGA: 1440px;
@gridScreen_DesktopWSXGAplus: 1680px;
@gridScreen_DesktopWUXGA: 1920px;

/*
//nombre de colonnes en fonction des résolutions (passé dans chaque template car chacun est différent)
@gridCol_DesktopWUXGA: 20;					//largeur 78/12 : 1788px
@gridCol_DesktopWSXGAplus: 17;				//largeur 78/12 : 1518px
@gridCol_DesktopWSXGA: 15;					//largeur 78/12 : 1338px
@gridCol_DesktopWXGA: 13;					//largeur 78/12 : 1158px
@gridCol_TabletLandscape: 10;				//largeur 78/12 : 888px
@gridCol_TabletPortrait: 8;					//largeur 78/12 : 708px
@gridCol_MobileLandscape: 5;				//largeur 78/12 : 438px
@gridCol_MobilePortrait: 3;					//largeur 78/12 : 258px
*/