// _ConfigColors.less
// v0.1
// Last Updated : 2011-06-24 11:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//CONFIGURATION DES COULEURS DE LAYOUT ET DE LEURS VARIANTES
//à définir dans Symfony avec une interface de type config v2ter
@colorCouleur1: #497aa6;				// TSL : 28/86/93
@colorCouleur1Clair: #82aacc;			// TSL : 28/46/98		S-40 L+5
@colorCouleur1Moyen: #14548c;			// TSL : 28/100/73		S+30 L-20
@colorCouleur1Fonce: #0c3457;			// TSL : 28/100/63		S+30 L-30

@colorCouleur2: #4f6880;				// TSL : 18/28/28
@colorCouleur2Clair: #819bb3;			// TSL : 18/18/48		S-10 L+20
@colorCouleur2ClairSup: #a6c7e6;		// TSL : 18/18/68		S-10 L+40
@colorCouleur2Moyen: #678199;			// TSL : 18/23/38		S-5 L+10
@colorCouleur2MoyenSup: #6f8ca6;		// TSL : 18/23/43		S-5 L+15
@colorCouleur2Sup: #57728c;				// TSL : 18/28/33		S L+5
@colorCouleur2Fonce: #2c3d4d;			// TSL : 18/33/8		S+5 L-20
@colorCouleur2FonceSup: #334659;		// TSL : 18/33/13		S+5 L-15

@colorCouleur3: #828991;				// TSL : 42/12/57
@colorCouleur3Clair: #dfe4eb;			// TSL : 42/7/92		S-5 L+35
@colorCouleur3ClairSup: #eaf0f7;		// TSL : 42/7/97		S-5 L+40
@colorCouleur3Moyen: #b0b9c4;			// TSL : 42/12/77		S L+20
@colorCouleur3MoyenSup: #bcc5d1;		// TSL : 42/12/82		S L+25
@colorCouleur3Sup: #8e959e;				// TSL : 42/12/62		S L+5
@colorCouleur3Fonce: #50565e;			// TSL : 42/27/37		S+15 L-20
@colorCouleur3FonceSup: #5b626b;		// TSL : 42/27/42		S+15 L-15

//CONFIGURATION DES COULEURS SYSTÈME GÉNÉRALES
@colorText: #444;
@colorBlack: #000;
@colorWhite: #fff;
@colorSelection: @colorCouleur3Moyen;			//Also: hot pink! : #ff5e99
@colorMarkIns: #ff9;
@colorRequired: #f55;
@colorValidate: #abbe5f;