// _Default.less
// v0.1
// Last Updated : 2011-10-12 13:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//CALCUL DES DIMENSIONS POUR LE MENU
//calcul des paddings
@menuAccordionPadH: (@gridGutter -1px);
@menuAccordionPadV: (@gridBaseline/2 - 1px);
//calcul dimensions flèche
@menuArrowDim: @gridBaseline/3;
//offset de décalage de positionnement
@menuArrowDecal: @menuArrowDim/2;
//positionnement initial à droite 
@menuArrowOffsetX: (@offM - @menuArrowDecal);
@menuArrowOffsetY: @menuAccordionPadV + (@gridBaseline - @menuArrowDim*2)/2 + 1px;

ul.accordion {
	//styles de liens spécifiques
	.dm_dir > .link { font-weight: bold; }
	
	//gestion style du lien
	.link {
		text-decoration: none;
		outline: 0;
		//gestion couleur du lien
		color: @colorCouleur3Fonce;
		background-color: @colorCouleur3Clair;
		
		//gestion des différents états
		&:link, &:visited { color: @colorCouleur3Fonce; }
		&:hover { color: @colorCouleur1; background-color: @colorCouleur3ClairSup; }
		&:focus { color: @colorCouleur1; }
		&:active, &.dm_current { color: @colorCouleur1Moyen; }
		
		//on applique le style directement sur le lien, le conteneur li se contente d'englober (compatible iPad car click=hover*2, à passer sur dropdown)
		padding: @menuAccordionPadV @menuAccordionPadH @menuAccordionPadV @gridGutter;
		border-style: solid;
		border-width: 1px 1px 1px 0;
		border-color: @colorCouleur3ClairSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup;
	}
	
	//création de la flèche avec des bordures
	.dm_dir > .link {
		&:after {
			position: absolute;
			z-index: 600;
			display: block;
			content:"";
			width: 0;
			height: 0;
			right: @menuArrowOffsetX;
			top: @menuArrowOffsetY;
			border-color: transparent transparent transparent @colorCouleur3Fonce;
			border-style: solid;
			border-width: @menuArrowDim;
		}
		/*&:hover:after {
			right: @menuArrowOffsetX + @menuArrowDecal;
			top: @menuArrowOffsetY + @menuArrowDecal;
			border-color: @colorCouleur1 transparent transparent transparent;
		}*/
	}
	.dm_parent > .link {
		&:after {
			right: @menuArrowOffsetX + @menuArrowDecal;
			top: @menuArrowOffsetY + @menuArrowDecal;
			border-color: @colorCouleur1 transparent transparent transparent;
		}
	}
}


//inversion de style automatique en fonction du conteneur
.dm_layout_right {
	ul.accordion {
		.dm_dir > .link {
			&:after {
				right: auto !important;
				left: @menuArrowOffsetX;
				border-color: transparent @colorCouleur3Fonce transparent transparent;
			}
			/*&:hover:after {
				right: auto !important;
				left: @menuArrowOffsetX + @menuArrowDecal;
				border-color: @colorCouleur3Fonce transparent transparent transparent;
			}*/
		}
		.dm_parent > .link {
			&:after {
				right: auto !important;
				left: @menuArrowOffsetX + @menuArrowDecal;
				border-color: @colorCouleur3Fonce transparent transparent transparent;
			}
		}
	}
}

//ajout des transitions pour navigateurs récents
.csstransitions {
	ul.accordion {
		.link {
			@transitionCompress(background-color, color; .2s; ease-in-out;0);
		}
	}
}

.csstransitions.csstransforms {
	ul.accordion {
		.dm_dir > .link {
			&:after {
				@transitionCompress(all; .15s; ease-in; 0);
				@origin(25%; 50%);
			}
			/*&:hover:after {
				right: @menuArrowOffsetX;
				bottom: @menuArrowOffsetY;
				top: @menuArrowOffsetY;
				border-color: transparent transparent transparent @colorCouleur1;
				@origin(25%; 50%);
				@rotate(90deg);
			}*/
		}
		.dm_parent > .link {
			&:after {
				right: @menuArrowOffsetX;
				bottom: @menuArrowOffsetY;
				top: @menuArrowOffsetY;
				border-color: transparent transparent transparent @colorCouleur1;
				@rotate(90deg);
			}
		}
	}
	.dm_layout_right {
		ul.accordion {
			.dm_dir > .link {
				&:after {
					@origin(75%; 50%);
				}
				/*&:hover:after {
					right: auto !important;
					left: @menuArrowOffsetX;
					top: @menuArrowOffsetY;
					border-color: transparent @colorCouleur3Fonce transparent transparent;
					@origin(75%; 50%);
					@rotate(-90deg);
				}*/
			}
			.dm_parent > .link {
				&:after {
					right: auto !important;
					left: @menuArrowOffsetX;
					top: @menuArrowOffsetY;
					border-color: transparent @colorCouleur3Fonce transparent transparent;
					@rotate(-90deg);
				}
			}
		}
	}
}