// _NavigationMenu.less
// v1.0
// Last Updated : 2011-08-30 9:55
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/MaestroTheme/Widgets/_Widgets.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/NavigationMenu/_NavigationMenu.less";

//Importation des classes de composition du menu
@import "_framework/SPLessCss/Widgets/NavigationMenu/Dropdown/_Dropdown.less";
@import "_framework/SPLessCss/Widgets/NavigationMenu/Dropdown/_Dropdown.vertical.less";
@import "_framework/SPLessCss/Widgets/NavigationMenu/Dropdown/Themes/Default/_Default.less";

.dm_layout_left {
	.navigation_menu {
		//background-color: Gainsboro;
		
		//suppression padding par défault car ajout dans le menu
		.dm_widget_inner { padding: 0; }
		
		//changement taille et placement du menu
		ul.dropdown {
			@gridWidth(2);
			float: right;
			margin-right: -1px;
			//décalage interne du menu
			padding: @gridBaseline 0 (@gridBaseline -1px) 0;
			
			ul { @gridAbsoluteLeft(2; 0); }
			
			//changement style des liens
			li {
				background-color: transparent;
				&:hover {
					background-color: @colorCouleur3Fonce;
					& > .link { color: @colorCouleur1; }
				}
				
				li {
					background-color: @colorCouleur3;
					.link {
						color: @colorCouleur3Clair;
					}
				}
				
				//personnalisation du lien
				.link {
					border-color: @colorCouleur3Fonce transparent transparent transparent;
					text-transform: uppercase;
					font-weight: normal;
				}
				&.last {
					//ajout bordure en bas de lien
					& > .link {
						//variable de dimenssionnemebnt disponible dans _Default.less
						padding-bottom: (@menuDropdownPadV + 1px);
						border-bottom-color: @colorCouleur3Fonce;
					}
				}
			}
		}
		
		.dm_widget_inner {
		}
	}
}

//Ajout styles Modernizr
.rgba {
	.dm_layout_left {
		.navigation_menu {
			ul.dropdown {
				li li { background-color: fadeout(@colorCouleur3Sup,5%); }
			}
		}
	}
}