// _WidgetsBase.less
// v1.0
// Last Updated : 2011-09-14 15:10
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Ce fichier permet d'initialiser un style par défaut pour tous les widgets et n'est inclu qu'une seule fois dans le template


//Importation en dur des styles des widgets (en attendant séparation dans fichiers Less séparés)
@import "_templates/OperaTheme/Widgets/MainHeader/_MainHeader.less";
@import "_templates/OperaTheme/Widgets/MainFooter/_MainFooter.less";
@import "_templates/OperaTheme/Widgets/SearchForm/_SearchForm.less";
@import "_templates/OperaTheme/Widgets/NavigationBreadCrumb/_NavigationBreadCrumb.less";
@import "_templates/OperaTheme/Widgets/DmTagPopular/_DmTagPopular.less";

//Configuration par défaut de tous les widgets
.dm_widget {
	.dm_widget_inner {
		//padding interne par défaut
		padding: @gridBaseline 0;
		
		//ciblage précis afin d'éviter de cibler les titre d'article contenu à l'intérieur des widgets
		& > .title, article > .title {
			background-color: green;
			font-weight: normal;
			margin-bottom: @gridBaseline;
		}
	}
}

//Spécificité de mise en page des widgets selon leurs zones de contenu
.dm_layout_top {
	@gridHeight(16);
	background-color: @colorCouleur3Clair;
	background-image: url({@urlImagesTemplate}/Page/header.jpg);
	background-repeat: no-repeat;
	background-position: 50% bottom;
	
	.dm_zones {
		position: relative;
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
		height: 100%;
	}
}

.dm_layout_centerTop {
	background-color: @colorCouleur2Moyen;
	padding-top: @gridBaseline/2;		//marge après header
	padding-bottom: @gridBaseline/2;	//équilibrage
	
	.dm_widget_inner {
		padding: 0;
	}
	
	.dm_layout_centerTopTop {
		position: relative;
		//permet d'étendre la zone en débordement de la page
		margin-left: -100%;
		margin-right: -100%;
		//ajout dégradé shiny
		@verticalGradientMultiPie-4(13%;50%;50%;87%;@colorCouleur1Clair;@colorCouleur1;@colorCouleur1Moyen;@colorCouleur1Fonce);
		
		.dm_zones {
			position: relative;
			@gridSiteWidth();
			margin-left: auto;
			margin-right: auto;
			z-index: 1;
			
			//création de l'ombres à l'aides d'une pseudo classes (évite l'ajout de balisage de mise en forme dans pageSuccess)
			&:before {
				position: absolute;
				display: block;
				content: "";
				z-index: -10;
				@gridSiteWidth();
				height: 100%;
				top: 0;
				left: 0;
				background-color: transparent;
				@boxShadowPie(0 0 @gridPadding/2 @colorBlack);
				//calcul positionnement du dégradé horizontal
				//@degradPosX1: 0px;
				//@degradPosX2: @gridPadding;
				//@degradPosX3: @degradPosX2 + @gridWidth_Site;
				//@degradPosX4: @degradPosX3 + @gridPadding;
				//pas de pie car gestion dégradé avec transparence
				//@horizontalGradientMulti-4(@degradPosX1;@degradPosX2;@degradPosX3;@degradPosX4;fadeout(@colorCouleur3Fonce,100%);@colorCouleur3Fonce;@colorCouleur3Fonce;fadeout(@colorCouleur3Fonce,100%));
			}
		}
	}
	
	.dm_layout_centerTopBottom {
		margin-top: @gridBaseline/2;
		.dm_zones {
		}
	}
}

.dm_page_content, .dm_layout_left, .dm_layout_right {
	//rajout padding pour décalage ligne de séparation
	padding-top: @gridBaseline;
	padding-bottom: @gridBaseline;
	
	.dm_zones {
		padding: 0 @gridBaseline/2;
		margin: 0 (@gridBaseline / -2);
	}
}

.dm_layout_left {
	.dm_zones {
		padding-right: (@gridBaseline/2 -1px);
		border-right: 1px dotted @colorCouleur2ClairSup;
	}
}

.dm_layout_right {
	.dm_zones {
		padding-left: (@gridBaseline/2 -1px);
		border-left: 1px dotted @colorCouleur2ClairSup;
	}
}

.dm_layout_left, .dm_layout_right {
	//rajout bordure en bas du widget
	.dm_widget {
		.dm_widget_inner {
			padding-bottom: (@gridBaseline -1px);
			border-bottom: 1px dotted @colorCouleur2ClairSup;
		}
	}
}

.dm_page_content {
	//rajout marge horizontale pour widgets
	.dm_widget {
		.dm_widget_inner {
			padding-left: @gridGutter;
			padding-right: @gridGutter;
		}
	}
}


//________________________________________________________________________________________________
//________________________________________________________________________________________________
//________________________________________________________________________________________________
//________________________________________________________________________________________________


//Définitions directes de styles de widgets (en attendant séparation dans fichiers Less séparés)

//BandeauSmartBandeau
.bandeau_smart_bandeau {
	.bandeau_show {
		color: @colorCouleur3ClairSup;
		font-weight: bold;
		text-transform: uppercase;
	}
}
.dm_layout_centerTop {
	.bandeau_smart_bandeau {
		.bandeau_show { color: @colorCouleur3ClairSup; }
	}
}