// _MainHeader.less
// v1.0
// Last Updated : 2011-09-20 09:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/MaestroTheme/Widgets/_Widgets.less";

.dm_layout_top {
	.main_header {
		.dm_widget_inner {
			.dm_site_title { color: @colorCouleur3Fonce; }
		}
	}
}

.main_header {
	position: relative;
	
	.dm_widget_inner {
		position: relative;
		@gridSiteWidth(@gridScreen;@gridCol);
		margin-left: auto;
		margin-right: auto;
	}
	
	.wrapper {
		color: @colorCouleur3Moyen;
		clear: both;
		.teaser {
			line-height: @gridBaseline;
			font-size: @fontSizeSmall;
		}
	}
	
	.imageWrapper {
		.image {
		}
	}
}