/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.dm_tag_popular .dm_widget_inner .elements .element {
  display:inline;
  line-height:1.333px;
}
.dm_tag_popular .dm_widget_inner .elements .font1 { font-size:8px; }
.dm_tag_popular .dm_widget_inner .elements .font2 { font-size:9px; }
.dm_tag_popular .dm_widget_inner .elements .font3 { font-size:10px; }
.dm_tag_popular .dm_widget_inner .elements .font4 { font-size:11px; }
.dm_tag_popular .dm_widget_inner .elements .font5 { font-size:12px; }
.dm_tag_popular .dm_widget_inner .elements .font6 { font-size:13px; }
.dm_tag_popular .dm_widget_inner .elements .font7 { font-size:14px; }
.dm_tag_popular .dm_widget_inner .elements .font8 { font-size:15px; }
