// BaseTheme.less
// v0.1
// Last Updated : 2011-04-18 15:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//importation des fichiers de config
@import "_templates/BaseTheme/Config/_ConfigInit.less";

//IMPORTATION DES DIFFÉRENTS ÉLÉMENTS CONSTITUTIFS DU TEMPLATE
//Styles de base des éléments
@import "_templates/BaseTheme/Elements/_Elements.less";
//Style par défaut des zones du site
@import "_templates/BaseTheme/Areas/_Areas.less";
//Style par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_WidgetsBase.less";

//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------CONFIGURATION GÉNÉRALE DU LAYOUT----------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

//CODE À REFACTORISER DANS LES DIFFÉRENTES CLASSES ET DOSSIERS DU THÈME
#dm_main {
	@verticalGradient(@colorCouleur3Clair; @colorWhite);
}

/*
#dm_page{
	background-color: #eee;
}

#dm_header, #dm_footer {
	background-color: #ddd;
}

#dm_main_inner {
	background-color: #ccc;
}

#dm_content {
	background-color: #bbb;
	min-height: @gridBaseline * 20;
}

#dm_sidebar_left {
	background-color: #aaa;
	min-height: @gridBaseline * 10;
}

#dm_sidebar_right {
	background-color: #999;
	min-height: @gridBaseline * 10;
}

#dm_custom_top {
	background-color: #888;
	min-height: @gridBaseline * 2;
}

#dm_custom_bottom {
	background-color: #777;
	min-height: @gridBaseline * 2;
	clear: both;
}
*/





/*
#dm_page_inner {
	
}

#dm_main {
	@verticalGradient(@colorCouleur3ClairSup; @colorWhite);
}
#dm_main_inner {
	//background-color: rgba(64,64,64,0.5);
}

.dm_layout_top {
}

.dm_layout_bottom {
}

#dm_custom_top {
	//background-color: Olive;
}

#dm_custom_bottom {
	//background-color: DarkOliveGreen;
}

#dm_sidebar_left {
	//background-color: NavajoWhite;
}

#dm_sidebar_right {
	//background-color: BlanchedAlmond;
}

#dm_content {
	//background-color: Tan;
}
*/
/*

//ajout fond et placement dans les zones du contenu
#dm_content {
	.dm_zones {
	}
}

// ajout pour menu accordion : lionel
#dm_sidebar_right .navigation_menu .dm_widget_inner {	
    padding: 0;
}
ul.accordion {
    margin-left: (-@gridGutter / 3) ; 
    margin-right: (-@gridGutter / 3) ; 
    margin-top: -1px;
}
ul.accordion li ul {
    margin-left: 0 ; 
    margin-right: 0 ; 
}
ul.accordion li {
    line-height:18px;
}
ul.accordion li .link {
    display: block;
}
ul.accordion { font-weight: bold; }
ul.accordion ul li { font-weight: normal; }
ul.accordion ul li.first { 
    border-top: 1px solid;
    border-color: @colorCouleur3Moyen;
}
ul.accordion li .link {
    @verticalGradient(@colorCouleur3Clair; @colorCouleur3ClairSup);
    padding: (@gridBaseline/2 -1px) (@offsetBorder);
    border: 1px solid;
    border-color: @colorCouleur3Moyen @colorCouleur3Moyen @colorCouleur3ClairSup @colorCouleur3Moyen;
    color: @colorCouleur1Moyen; 
}
ul.accordion li ul li .link {
    border:0;
    color:@colorCouleur3Fonce;
    background: @colorWhite;
    padding-bottom : @gridBaseline/8; 
}
ul.accordion li .link.dm_parent {
    @verticalGradient(@colorCouleur3Moyen; @colorCouleur3MoyenSup);
    border-bottom: 1px solid @colorCouleur3Moyen;
    color: @colorWhite;
}
ul.accordion li .dm_current {
    @verticalGradient(@colorCouleur3Moyen; @colorCouleur3MoyenSup);
    border-bottom: 0px;
    color: @colorWhite;
}
ul.accordion li ul li .link.dm_current { font-weight: bold; }	
ul.accordion a, ul.accordion a:link, ul.accordion a:visited {
  text-decoration: none;
}
*/