// BaseTheme.less
// v0.1
// Last Updated : 2011-04-18 15:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//importation des librairies externes de fonctions
@import "_templates/BaseTheme/Utilities/_Utilities.less";

//importation des fichiers de config
@import "_templates/BaseTheme/Config/_ConfigInit.less";

//IMPORTATION DES DIFFÉRENTS ÉLÉMENTS CONSTITUTIFS DU TEMPLATE
//Styles de base des éléments
@import "_templates/BaseTheme/Elements/_Elements.less";
//Style par défaut des zones du site
@import "_templates/BaseTheme/Areas/_Areas.less";
//Style par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_WidgetsBase.less";

//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------CONFIGURATION GÉNÉRALE DU LAYOUT----------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

//CODE À REFACTORISER DANS LES DIFFÉRENTES CLASSES ET DOSSIERS DU THÈME
#dm_main {
	@verticalGradient(@colorCouleur3Clair; @colorWhite);
}

/*
#dm_page{
	background-color: #eee;
}

#dm_header, #dm_footer {
	background-color: #ddd;
}

#dm_main_inner {
	background-color: #ccc;
}

#dm_sidebar_left {
	background-color: #aaa;
	min-height: @gridBaseline * 10;
}

#dm_sidebar_right {
	background-color: #999;
	min-height: @gridBaseline * 10;
}

#dm_content {
	background-color: #bbb;
	min-height: @gridBaseline * 20;
}

#dm_custom_top {
	background-color: #888;
	min-height: @gridBaseline * 2;
}

#dm_custom_bottom {
	background-color: #777;
	min-height: @gridBaseline * 2;
	clear: both;
}
*/