// OperaTheme.less
// v0.1
// Last Updated : 2011-04-18 15:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//importation des fichiers de config
@import "_templates/OperaTheme/Config/_ConfigInit.less";

//IMPORTATION DES DIFFÉRENTS ÉLÉMENTS CONSTITUTIFS DU TEMPLATE
//Styles de base des éléments
@import "_templates/OperaTheme/Elements/_Elements.less";
//Style par défaut des widgets du template
@import "_templates/OperaTheme/Widgets/_WidgetsBase.less";

//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------CONFIGURATION GÉNÉRALE DU LAYOUT----------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

//CODE À REFACTORISER DANS LES DIFFÉRENTES CLASSES ET DOSSIERS DU THÈME
#dm_page {
	//background-color: #666;
	
	//pour masquer le débordement de dm_layout_centerTopTop
	overflow: hidden;
}
#dm_page_inner {
	//background-color: #888;
}

#dm_main {
	//background-color: #a8a;
}

#dm_main_inner {
	background-color: @colorWhite;
	z-index: 1;
	&:before {
		position: absolute;
		display: block;
		content: "before";
		@gridSiteWidth();
		@gridHeight(30);
		top: 0;
		left: @gridPadding;
		//ombre répétée dans WidgetBase sur le dm_zones:before de dm_layout_centerTopTop
		@boxShadowPie(0 0 @gridPadding*2 @colorBlack);
		z-index: -10;
		//background-color: darkblue;
	}
}

#dm_content {
	//background-color: MediumAquamarine;
}

#dm_sidebar_left {
	//background-color: SaddleBrown;
}

#dm_sidebar_right {
	//background-color: Sienna;
}

.dm_layout_top {
	//background-color: RosyBrown;
}

.dm_layout_bottom {
	//background-color: BurlyWood;
}

#dm_custom_top {
	#dm_custom_topTop {
		//background-color: lightcoral;
	}
	
	#dm_custom_topBottom {
		//background-color: lightblue;
	}
}

#dm_custom_bottom {
	//background-color: CadetBlue;
}


//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------AJOUTS MAQUETTE OPERA-LAYOUT--------------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

/*
// Page 
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}




ul{list-style:none;}
h2 {font: normal 26px Arial, sans-serif; padding: 20px 0; margin: 0 0 30px 0;}
.wrap {width: 960px; margin: 0 auto;}

#dm_page {
    z-index: 0;
}

@charset "utf-8";
// CSS Document 

html { font-size: 100%; }

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#content {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding: 0px;
	z-index: 0;
}


.dm_layout_top {
    position: relative;
	clear: both;
	float: none;
	height: 300px;
	width: 100%;
	background-color: #E2E9EB;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(/theme/less/_templates/OperaTheme/Medias/bg_header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 3;
}
// image logo du header
.dm_layout_top .content_image {
    width: 960px;
    margin: auto;
    padding: 0 150px;
}
.dm_layout_top img {
	margin: 10px;
        height: 80px;
	clear: left;
	float: left;
	position: relative;
}
// titre du header 
.dm_layout_top .content_text {
    width: 960px;
    margin: 150px auto 0 auto;
    bottom: 10px;
}
.dm_layout_top .content_text h2{
    font-size: 3.5em;
    color: @colorWhite;
    padding: 0;
    margin: 0;
}

// liens du header dm_layout_top-link 
.dm_layout_top-link {
    position: absolute; 
    left: 50%;
    width: 960px;
    margin-left: -480px;
    z-index: 5;
}
.edit .dm_layout_top-link {
    position: relative;  // en mode "edit" (la loupe), on met en relative pour voir plus clairement la zone 
} 
.dm_layout_top-link div.content_link {
	float: right;
	height: 50px;
	text-align: right;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	 z-index: 2;
}
.dm_layout_top-link div.content_link a {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-transform: capitalize;
	color: #FFF;
	text-decoration: none;
	background-color: #333;
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.08, #383838),
    color-stop(0.93, #787878)
);
//	background-image: -moz-linear-gradient(
    center bottom,
    #383838 8%,
    #787878 93%
); 
	-pie-background: no-repeat, linear-gradient(#787878, #383838);//PIE
	behavior: url(ie/PIE.htc); // PIE 
	z-index: 1;
}

#body_header{
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	float: none;
   // position:absolute; 
	}

#bg_toolbar {
	clear: both;
	float: none;
	height: 44px;
	width: 100%;
	background-color: #B71700;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -70;
	position: absolute;
	// 
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, #611200),
    color-stop(0.5, #9C1700),
    color-stop(0.5, #B51800),
    color-stop(0.87, #D9210D)
);
	background-image: -moz-linear-gradient(
    center bottom,
    #611200 13%,
    #9C1700 50%,
    #B51800 50%,
    #D9210D 87%
);
	-pie-background: no-repeat, linear-gradient(#BF1700, #7E1700);//PIE
	behavior: url(ie/PIE.htc); // PIE 
	display: block;
	left: 0px;
}

#toolbar {
	background-color: #F30;
	position: relative;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 44px;
	width: 100%;
	clear: both;
	float: left;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, #611200),
    color-stop(0.5, #9C1700),
    color-stop(0.5, #B51800),
    color-stop(0.87, #D9210D)
);
	background-image: -moz-linear-gradient(
    center bottom,
    #611200 13%,
    #9C1700 50%,
    #B51800 50%,
    #D9210D 87%
);
	-pie-background: no-repeat, linear-gradient(#BF1700, #7E1700);//PIE
	behavior: url(ie/PIE.htc); // PIE 
	z-index: 1;
}
#box_toolbar {
	background-color: #4D5D65;
	clear: both;
	float: left;
	height: 94px;
	width: 100%;
	z-index: 0;
}
#toolbar li {
	display: inline;
}

#dm_main {
	background-color: #FFF;
    display:block;
	position: relative;
	padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
	clear: both;
	float: left;
	width: 920px;
	height: 100%;
	z-index: 0;
}
#ombre_body {
	position: absolute;
	z-index: -50;
	top: 200px;
	// background-color: #CBD3AD; 
	-webkit-box-shadow:0px 0px 150px #000000;
	-moz-box-shadow:0px 0px 150px #000000;
	-ms-box-shadow:0px 0px 150px #000000;
	box-shadow:0px 0px 150px #000000;
	clear: both;
	height: 550px;
	width: 960px;
	behavior: url(ie/PIE.htc);
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
#box_ombre {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#spacer {
	display: block;
	clear: both;
	float: none;
	height: 10px;
	width: 100%;
	// [disabled]background-color: #C90; 
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	position: relative;
	z-index: 0;
}
#dm_content {
	clear: left;
	float: left;
	width: 575px;
}
#dm_content h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	padding: 0px;
	float: left;
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	clear: both;
	width: 100%;
}
.puce_rubrique {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 15px;
	margin-top: 3px;
	margin-left: -30px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, #611200),
    color-stop(0.5, #9C1700),
    color-stop(0.5, #B51800),
    color-stop(0.87, #D9210D)
);
	background-image: -moz-linear-gradient(
    center bottom,
    #611200 13%,
    #9C1700 50%,
    #B51800 50%,
    #D9210D 87%
);
	-pie-background: no-repeat, linear-gradient(#BF1700, #7E1700);//PIE
	behavior: url(ie/PIE.htc); // PIE 
	z-index: 0;
	color: #FFF;
	display: block;
	// [disabled]letter-spacing: 0.3em; 
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-ms-border-radius:0px 10px 10px 0px;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-bottom: 0px;
	float: left;
	clear: left;
}

#dm_content img {
}

#dm_content p {
	clear: both;
	float: left;
	width: 100%;
}

#dm_content img {
	clear: both;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.article_acc_gras {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.date_article {
	font-weight: normal;
	font-size: 0.7em;
	color: #999;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
#actusfisc {
	background-color: #DCE1E1;
	width: 570px;
	clear: both;
	float: left;
	font-size: 0.8em;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
}
#actusfisc h2 {
	color: #C00;
}

#dm_sidebar_right {
	clear: right;
	float: none;
	width: 310px;
	display: block;
	z-index: 0;
	margin-bottom: 15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-family: Verdana, Geneva, sans-serif;
}
#dm_sidebar_right img {
	margin-left: 0px;
	margin-top: -5px;
	clear: both;
	float: left;
}

#videop {
	background-color: #4D5D65;
	float: left;
	height: 290px;
	width: 290px;
	clear: both;
	display: block;
	// [disabled]z-index: 0; 
	margin-bottom: 20px;
}
#dm_sidebar_right h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #30414C;
	padding: 0px;
	float: left;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	clear: both;
	width: 100%;
	text-transform: uppercase;
}
#backblu h2 {
	background-color: #FFF;
	margin-top: -5px;
	padding-top: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: -5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 300px;
	height: 20px;
}
#backblu h2 img {
	float: left;
	margin: 0px;
}
#backblu p img {
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}

#dm_sidebar_right h3 {
	font-family: Verdana, Geneva, sans-serif;
	color: #30414C;
	// [disabled]padding: 0px; 
	float: left;
	font-size: 1em;
	font-weight: normal;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	// [disabled]margin-left: 0px; 
	clear: both;
	width: 100%;
}

#dm_sidebar_right p {
	font-family: Verdana, Geneva, sans-serif;
	color: #30414C;
	padding: 0px;
	float: left;
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	clear: both;
	width: 100%;
}
#backblu {
	background-color: #EEEFEF;
	clear: both;
	float: left;
	padding: 5px;
	width: 290px;
}

#dm_sidebar_right a{
	font-size: 0.9em;
}
.rouge {
	font-size: 1.1em;
	color: #C00;
}
.noir {
	font-size: 1.1em;
	color: #000;
}
.blanc {
	font-size: 1.1em;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.gras {
	font-weight: bold;
}

#videop h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	padding: 0px;
	float: left;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.puce_rubrique_right {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 15px;
	margin-top: -5px;
	margin-left: -5px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, #611200),
    color-stop(0.5, #9C1700),
    color-stop(0.5, #B51800),
    color-stop(0.87, #D9210D)
);
	background-image: -moz-linear-gradient(
    center bottom,
    #611200 13%,
    #9C1700 50%,
    #B51800 50%,
    #D9210D 87%
);
	-pie-background: no-repeat, linear-gradient(#BF1700, #7E1700);//PIE
	behavior: url(ie/PIE.htc); // PIE 
	z-index: 0;
	color: #FFF;
	display: block;
	// [disabled]letter-spacing: 0.3em; 
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-ms-border-radius:0px 10px 10px 0px;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-bottom: 0px;
	float: left;
	clear: both;
}

// block styles 
.bloc {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 5px;
	width: 290px;
	height: 290px;
	background: #666;
	// [disabled]font-size: 1em; 
	// [disabled]line-height: 5em; 
	font-family: Georgia, Times, Serif;
	text-align: left;
	// background-image: -moz-linear-gradient(center bottom, #292929 11%, #4B4B4B 56%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, #292929), color-stop(0.56, #4B4B4B));
	-pie-background: url(bg-image.png) no-repeat, linear-gradient(#4B4B4B, #292929);//PIE

	//-moz-box-shadow: 0 0 65px #2A2A2A inset, 0 0 20px #2A2A2A inset, 0 0 5px #2A2A2A;
	-webkit-box-shadow: 0 0 65px #2A2A2A inset, 0 0 20px #2A2A2A inset, 0 0 5px #2A2A2A;
	box-shadow: 0 0 65px #2A2A2A inset, 0 0 20px #2A2A2A inset, 0 0 5px #2A2A2A;

	behavior: url(ie/PIE.htc);  //PIE 
}

.bloc:after, .bloc:before {
	content: " ";
	position: absolute;
	width: 50%;
	height: 33px;
	behavior: url(ie/PIE.htc);  //PIE 

}

// curve effect 
.curve:before {
	top: 260px;
	left: 0px;
	display: block;
	position: absolute;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	-moz-box-shadow: 7px 6px 15px #333;
	-webkit-box-shadow: 7px 6px 15px #333;
	box-shadow: 7px 6px 15px #333;
	z-index:-10;
	behavior: url(ie/PIE.htc);  //PIE 
}
.curve:after {
	top: 260px;
	right: 0px;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	-moz-box-shadow: -7px 6px 15px #333;
	-webkit-box-shadow: -7px 6px 15px #333;
	box-shadow: -7px 6px 15px #333;
	z-index: -10;
	behavior: url(ie/PIE.htc);  //PIE 
}


// les footers 
#footer_01 {
	background-color: #778389;
	clear: both;
	float: left;
	height: 20px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	z-index: 0;
	display: block;
}
.dm_layout_bottom-1 {
	float: none;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	padding: 2px;
	font-size: 0.8em;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
}
.dm_layout_bottom-1 .content_link {
	float: left;
}
.dm_layout_bottom-1 .content_link a{
	text-decoration: none;
	color: #FFF;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 10px;
	background-attachment: scroll;
	background-image: url(/theme/less/_templates/OperaTheme/Medias/arrow_rouge_bas.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.dm_layout_bottom-2 {
	float: none;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.7em;
	color: #000;
	padding: 0px;
}

#footer_02 {
	background-color: #FFF;
	clear: both;
	float: none;
	height: 20px;
	width: 100%;
}
#footer_02 h2, #footer_02 p {
	clear: none;
	float: right;
    padding: 2px;
	margin-right: 15px;
	font-size: 0.9em;
	margin-top: 3px;
}

//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------AJOUTS MAQUETTE OPERA-MENU----------------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

// Mega Menu Styles 
.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

#mega-menu-1 {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
}
#mega-menu-1 .sub ul {
display: block;
}
#mega-menu-1 {
	// [disabled]background: #222; 
	width: 100%;
	height: 45px;
	position: relative;
}
#mega-menu-1 li {
float: left;
margin: 0;
padding: 0;
font-weight: bold;
}

#mega-menu-1 li.menu-root {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
#mega-menu-1 li a, #mega-menu-1 li span.dm_current {
	float: left;
	display: block;
	color: #fff;
	// [disabled]background: #222; 
	text-decoration: none;
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 12px;
	padding-left: 25px;
}

#mega-menu-1 li.mega-hover a, #mega-menu-1 li.mega-hover a:hover {
	// [disabled]background: #CCC; 
	color: #FFF;
	-pie-background: no-repeat, linear-gradient(#394A53, #778389);//PIE
	behavior: url(ie/PIE.htc); // PIE 
}
#mega-menu-1 li a:hover {
	color: #FFF;
	// [disabled]-moz-opacity:0.5; 
	// [disabled-]webkit-opacity:0.5; 
	// [disabled]opacity: 0.5; 
	// [disabled]filter:alpha(opacity=50); 
	background-color: #1E1C1A;

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, #20343E),
    color-stop(0.5, #394A53),
    color-stop(0.51, #4F5F67),
    color-stop(0.87, #778389)
);
background-image: -moz-linear-gradient(
    center bottom,
    #20343E 13%,
    #394A53 50%,
    #4F5F67 51%,
    #778389 87%
);

	-pie-background: linear-gradient(#394A53, #20343E);//PIE
	behavior: url(ie/PIE.htc); // PIE 

}
#mega-menu-1 li .sub-container {
position: absolute;

}
#mega-menu-1 li .sub {
	background: #30424C;
	padding: 15px;
	border: 1px solid #22292D;
}
#mega-menu-1 li .sub .row {
width: 100%;
overflow: hidden;
clear: both;
}
#mega-menu-1 li .sub li {
list-style: none;
float: none;
width: 170px;
font-size: 1em;
font-weight: normal;
}
#mega-menu-1 li .sub li.mega-hdr {
	margin: 0 10px 10px 0;
	float: left;
	border-right-width: 1px;
	border-right-style: dotted;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
#mega-menu-1 li .sub li.mega-hdr.last {
	margin-right: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mega-menu-1 li .sub a {
	background: none;
	color: #FFF;
	padding: 7px 10px;
	display: block;
	float: none;
	font-size: 0.9em;
}
#mega-menu-1 li .sub span {
	background: none;
	color: #888;
	padding: 7px 10px;
	display: block;
	float: none;
	font-size: 0.9em;
}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FF1700;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a:hover {
	// [disabled]color: #000; 
}
#mega-menu-1 .sub li.mega-hdr li a {
padding: 4px 5px;
font-weight: normal;
}
#mega-menu-1 .sub li.mega-hdr li a:hover {
color: #a32403;
background: #efefef;
}
#mega-menu-1 .sub ul li {
padding-right: 0;
}
#mega-menu-1 li .sub-container.non-mega .sub {
padding: 10px;
}
#mega-menu-1 li .sub-container.non-mega li {
padding: 0;
width: 190px;
margin: 0;
}
#mega-menu-1 li .sub-container.non-mega li a, #mega-menu-1 li .sub-container.non-mega li span {
padding: 7px 5px 7px 22px;
}
#mega-menu-1 li .sub-container.non-mega li a:hover {
color: #a32403;
background: #efefef;
}
*/


