/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.generatedcontent #dm_sidebar_left .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title, .generatedcontent #dm_sidebar_right .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title { padding-left:41.5px; }
#dm_sidebar_left .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after, #dm_sidebar_right .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after {
  position:absolute;
  display:block;
  top:1px;
  left:4.5px;
  content:"";
  width:32px;
  height:32px;
  background-image:url(/theme/images/Sprites/f4ad44e-DefaultLight-M.png);
  background-repeat:no-repeat;
}
.svg #dm_sidebar_left .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after, .svg #dm_sidebar_right .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after {
  background-image:url(/theme/images/Sprites/DefaultLight/f4ad44e-cabinet-contact.svg);
  background-position:0 0;
}
.lien_contact_bloc_vers_page_contact .dm_widget_inner { background-color:#918c80; }
#dm_content .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title, #dm_sidebar_left .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title, #dm_sidebar_right .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title {
  background-color:#ba5600;
  color:#f7f2e6;
  border-bottom-color:#ba5600;
}
#dm_sidebar_left .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after, #dm_sidebar_right .lien_contact_bloc_vers_page_contact .dm_widget_inner > .title:after { background-position:-128px -96px; }
.lien_contact_bloc_vers_page_contact .wrapper {
  font-weight:normal;
  color:#f7f2e6;
  word-spacing:-0.05em;
  letter-spacing:-0.05em;
  margin-bottom:9px;
}
.lien_contact_bloc_vers_page_contact .navigation { margin:0; }
.lien_contact_bloc_vers_page_contact .navigation .elements .element {
  text-align:center;
  font-size:11px;
  line-height:18px;
}
.lien_contact_bloc_vers_page_contact .navigation .elements .element .link {
  background-color:#d36a11;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ec7f22),color-stop(1,#ba5600));
  background:-webkit-linear-gradient(top,#ec7f22,#ba5600);
  background:-moz-linear-gradient(top,#ec7f22,#ba5600);
  background:-o-linear-gradient(top,#ec7f22,#ba5600);
  background:-ms-linear-gradient(top,#ec7f22,#ba5600);
  background:linear-gradient(top,#ec7f22,#ba5600);
  color:#f7f2e6;
  padding:0 4.5px;
  line-height:18px;
  text-decoration:none;
  text-transform:none;
  text-shadow:0 1px 1px #000000;
}
.lien_contact_bloc_vers_page_contact .navigation .elements .element .link:hover {
  background-color:#d36a11;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ba5600),color-stop(1,#ec7f22));
  background:-webkit-linear-gradient(top,#ba5600,#ec7f22);
  background:-moz-linear-gradient(top,#ba5600,#ec7f22);
  background:-o-linear-gradient(top,#ba5600,#ec7f22);
  background:-ms-linear-gradient(top,#ba5600,#ec7f22);
  background:linear-gradient(top,#ba5600,#ec7f22);
}
