// _ConfigTemplateDefault.less
// v0.1
// Last Updated : 2011-04-18 15:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

// Ce fichier définit tous les paramètres par défaut du template. Modifier ce fichier revient à modifier les paramètres par défaut des sites utilisant ce template.

//Versionning du template
@templateVersion: "0.1";
@templateDate: "2011-03-10T11:30";
@templateCopyright: "SidPresse";
@templateAuthor: "Arnaud GAUDIN";


//DÉCLARATION DU TEMPLATE DANS LE SYSTÈME
//définir ici le chemin vers le fichier de base du theme choisi
@importTemplateBase(){ @import "_templates/tenorlight/_tenorlight.less"; }

//CONFIGURATION DES COULEURS SYSTÈME GÉNÉRALES
@import "_templates/tenorlight/Config/_ConfigColors.less";

//importation de la configuration locale du template choisi
@import "_ConfigTemplateOverride.less";