//_SpritesUtils.less
// v1.0
// Last Updated : 2011-12-23 15:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Importation du fichier des fonctions des sprites généré par le site du client
@import "_SpriteFunctions.less";

@spriteDefinition(@theme: "Default"; @category; @name; @spriteFormat: "L"; @dim: @spriteFormat_L; @offX: 0; @offY: 0) {
	width: @dim * 1px;
	height: @dim * 1px;
	background-image: url(@{urlImagesClient}/Sprites/@{theme}-@{spriteFormat}.png);
	background-position: (@offX * @dim * -1px) (@offY * @dim * -1px);
	background-repeat: no-repeat;
	//remplacement de l'image par du SVG pour les navigateurs modernes
	.svg & { background-image: url(@{urlImagesClient}/Sprites/@{theme}/@{category}-@{name}.svg); background-position: 0 0; }
}