// _Fields.less
// v1.0
// Last Updated : 2011-06-29 16:20
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//STYLAGE DES DIFFÉRENTS CHAMPS POUR LE TEMPLATE

//couleur par défaut pour les placeHolders
input {
	&::-webkit-input-placeholder { color: @colorCouleur3Sup; }
	&:disabled::-webkit-input-placeholder { color: @colorCouleur3Moyen; }
	&:-moz-placeholder { color: @colorCouleur3Sup; }
	&:disabled:-moz-placeholder { color: @colorCouleur3Moyen; }
}

//champs textes d'entrée
input, textarea {
	background-color: @colorWhite;
	border-color: @colorCouleur3Moyen;
	&:focus { border-color: @colorCouleur3MoyenSup; }
	&:disabled { background-color: @colorCouleur3Clair; }
}

//champ de sélection
select {
	background-color: @colorCouleur3ClairSup;
	border-color: @colorCouleur3Moyen;
	color: @colorCouleur3Fonce;
	&:hover {
		background-color: @colorWhite;
		border-color: @colorCouleur3MoyenSup;
	}
	&:disabled {
		background-color: @colorCouleur3MoyenSup;
		color: @colorCouleur3FonceSup;
	}
}

//boutons et champs de validation
button, input[type=submit], input.submit, input[type=button] {
	text-align: center;
	background-color: @colorCouleur3Fonce;
	border-color: @colorCouleur3Fonce;
	color: @colorCouleur3ClairSup;
	
	&:hover {
		background-color: @colorCouleur3Moyen;
		color: @colorWhite;
		border-color: @colorCouleur3FonceSup;
	}
	&:active {
		color: @colorWhite;
		color: @colorCouleur3Moyen;
	}
}

//Modernizr enhancement
.csstransitions {
	select, input, textarea, button { @transition(background-color, border-color, box-shadow; .2s; ease-out; 0); }
}
.rgba {
	input, textarea {
		background-color: fadeout(@colorWhite,50);
		&:disabled { background-color: fadeout(@colorCouleur3MoyenSup,50); }
	}
	select {
		background-color: fadeout(@colorCouleur3ClairSup,50);
		&:hover, &:focus { background-color: fadeout(@colorWhite,50); }
		&:disabled { background-color: @colorCouleur3Moyen; }
	}
}
.boxshadow {
	input, textarea {
		@boxShadow(inset 0 @offS @offM @colorCouleur3Clair);
		&:focus { @boxShadow(inset 0 @offS @offS @colorCouleur3ClairSup); }
		&:disabled { @boxShadow(inset 0 @offS @offS @colorCouleur3Moyen); }
	}
	select {
		@boxShadow(inset 0 @offS @offM @colorCouleur3MoyenSup);
		&:hover, &:focus { @boxShadow(inset 0 @offS @offM @colorCouleur3Clair); }
		&:disabled { @boxShadow(none); }
	}
	button, input[type=submit], input.submit, input[type=button] {
		@insetShadow(0; 0; 0; 0; transparent);
		&:hover { @insetShadow(0; 0; @offM; @offS; @colorCouleur3Clair); }
		&:active { @insetShadow(0; 0; @offM; @offS; @colorBlack); }
	}
}
.cssgradients {
	button, input[type=submit], input.submit, input[type=button] {
		@verticalGradient(@colorCouleur3Moyen; @colorCouleur3Fonce);
	}
}
.textshadow{
	button, input[type=submit], input.submit, input[type=button] {
		text-shadow: 1px 1px 1px @colorBlack;
	}
}