// _NavigationBreadCrumb.less
// v1.0
// Last Updated : 2011-09-14 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/NavigationBreadCrumb/_NavigationBreadCrumb.less";

.navigation_bread_crumb {
	float: left;
	//@gridWidth(@gridCol - @gridCol_SidebarLeft);
	
	.dm_widget_inner {
		/*
		//permet de sortir de la zone
		padding: 0 (@zonesOffsetPad - @zonesOffsetBorder) (@zonesOffsetPad - @zonesOffsetBorder) (@zonesOffsetPad - @zonesOffsetBorder);
		margin: 0 (@zonesOffsetPad * -1) (@zonesOffsetPad * -1) (@zonesOffsetPad * -1);
		
		//ajout d'une bordure dont l'épaisseur a été déduite
		border-right: @zonesOffsetBorder solid @zonesBorderColor;
		border-bottom: @zonesOffsetBorder solid @zonesBorderColor;
		border-left: @zonesOffsetBorder solid @zonesBorderColor;
		*/
	}
	
	//apparrence des liens
	.link {
		color: @colorCouleur3;
		text-decoration: none;
		&:hover {
			color: @colorCouleur3Sup;
			text-decoration: underline;
		}
		&.dm_current {
			color: @colorCouleur1Moyen;
			&, &:hover { text-decoration: none; }
		}
	}
	
	//gestion affichage listing de liens
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: @fontSizeSmall;
		line-height: @gridBaseline;
		
		li {
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			
			&.bread_crumb_separator {
				display: block;
				//décalage de marge
				@decalV: (@gridBaseline - @spriteFormat_S) / 2;
				@decalH: (@gridGutter - @spriteFormat_S) / 2;
				padding: @decalV @decalH;
				text-indent: -9999em;
				@sprite-navigation-arrowDarkRight-S();
			}
		}
	}
}