// _SpriteVariables.less
// v1.0
// Last Updated : 2012-02-01 17:48
// Copyright : SID Presse
// Author : Arnaud GAUDIN

@spriteOffX-cabinet-actualites:0;
@spriteOffY-cabinet-actualites:0;
@spriteOffX-cabinet-contact:1;
@spriteOffY-cabinet-contact:0;
@spriteOffX-cabinet-equipe:2;
@spriteOffY-cabinet-equipe:0;
@spriteOffX-cabinet-missions:3;
@spriteOffY-cabinet-missions:0;
@spriteOffX-cabinet-planAcces:4;
@spriteOffY-cabinet-planAcces:0;
@spriteOffX-communication-email:0;
@spriteOffY-communication-email:1;
@spriteOffX-communication-faxNumber:1;
@spriteOffY-communication-faxNumber:1;
@spriteOffX-communication-telephone:2;
@spriteOffY-communication-telephone:1;
@spriteOffX-internet-back:0;
@spriteOffY-internet-back:2;
@spriteOffX-internet-bullet:1;
@spriteOffY-internet-bullet:2;
@spriteOffX-internet-bulletOver:2;
@spriteOffY-internet-bulletOver:2;
@spriteOffX-internet-email:3;
@spriteOffY-internet-email:2;
@spriteOffX-internet-emailOpen:4;
@spriteOffY-internet-emailOpen:2;
@spriteOffX-internet-forward:5;
@spriteOffY-internet-forward:2;
@spriteOffX-internet-home:6;
@spriteOffY-internet-home:2;
@spriteOffX-internet-print:7;
@spriteOffY-internet-print:2;
@spriteOffX-internet-search:8;
@spriteOffY-internet-search:2;
@spriteOffX-navigation-arrowColorDown:0;
@spriteOffY-navigation-arrowColorDown:3;
@spriteOffX-navigation-arrowColorLeft:1;
@spriteOffY-navigation-arrowColorLeft:3;
@spriteOffX-navigation-arrowColorRight:2;
@spriteOffY-navigation-arrowColorRight:3;
@spriteOffX-navigation-arrowColorUp:3;
@spriteOffY-navigation-arrowColorUp:3;
@spriteOffX-navigation-arrowDarkDown:4;
@spriteOffY-navigation-arrowDarkDown:3;
@spriteOffX-navigation-arrowDarkLeft:5;
@spriteOffY-navigation-arrowDarkLeft:3;
@spriteOffX-navigation-arrowDarkRight:6;
@spriteOffY-navigation-arrowDarkRight:3;
@spriteOffX-navigation-arrowDarkUp:7;
@spriteOffY-navigation-arrowDarkUp:3;
@spriteOffX-navigation-arrowLightDown:8;
@spriteOffY-navigation-arrowLightDown:3;
@spriteOffX-navigation-arrowLightLeft:9;
@spriteOffY-navigation-arrowLightLeft:3;
@spriteOffX-navigation-arrowLightRight:10;
@spriteOffY-navigation-arrowLightRight:3;
@spriteOffX-navigation-arrowLightUp:11;
@spriteOffY-navigation-arrowLightUp:3;
@spriteOffX-navigation-separatorLeft:12;
@spriteOffY-navigation-separatorLeft:3;
@spriteOffX-navigation-separatorRight:13;
@spriteOffY-navigation-separatorRight:3;
@spriteOffX-section-actualites:0;
@spriteOffY-section-actualites:4;
@spriteOffX-section-agenda:1;
@spriteOffY-section-agenda:4;
@spriteOffX-section-chiffres:2;
@spriteOffY-section-chiffres:4;
@spriteOffX-section-dossiers:3;
@spriteOffY-section-dossiers:4;
@spriteOffX-socialnetwork-facebook:0;
@spriteOffY-socialnetwork-facebook:5;
@spriteOffX-socialnetwork-googleplus:1;
@spriteOffY-socialnetwork-googleplus:5;
@spriteOffX-socialnetwork-linkedin:2;
@spriteOffY-socialnetwork-linkedin:5;
@spriteOffX-socialnetwork-twitter:3;
@spriteOffY-socialnetwork-twitter:5;
@spriteOffX-DefaultLight-cabinet-contact:0;
@spriteOffY-DefaultLight-cabinet-contact:0;
