// _ConfigColors.less
// v0.1
// Last Updated : 2011-06-24 11:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//CONFIGURATION DES COULEURS DE LAYOUT ET DE LEURS VARIANTES
//à définir dans Symfony avec une interface de type config v2ter
@colorCouleur1: #5c98cc;				// TSL : 28/86/93
@colorCouleur1Clair: #bacbd9;			// TSL : 28/46/98		S-40 L+5
@colorCouleur1Moyen: #195d99;			// TSL : 28/100/73		S+30 L-20
@colorCouleur1Fonce: #154e80;			// TSL : 28/100/63		S+30 L-30

@colorCouleur2: #5f7c9c;				// TSL : 18/28/28
@colorCouleur2Clair: #93b0cf;			// TSL : 18/18/48		S-10 L+20
@colorCouleur2ClairSup: #b5d9ff;		// TSL : 18/18/68		S-10 L+40
@colorCouleur2Moyen: #7795b5;			// TSL : 18/23/38		S-5 L+10
@colorCouleur2MoyenSup: #80a0c2;		// TSL : 18/23/43		S-5 L+15
@colorCouleur2Sup: #6786a8;				// TSL : 18/28/33		S L+5
@colorCouleur2Fonce: #3b5169;			// TSL : 18/33/8		S+5 L-20
@colorCouleur2FonceSup: #425a75;		// TSL : 18/33/13		S+5 L-15

@colorCouleur3: #919191;				// TSL : 42/12/57						//828991
@colorCouleur3Clair: #ebebeb;			// TSL : 42/7/92		S-5 L+35		//dfe4eb
@colorCouleur3ClairSup: #f7f7f7;		// TSL : 42/7/97		S-5 L+40		//eaf0f7
@colorCouleur3Moyen: #c4c4c4;			// TSL : 42/12/77		S L+20			//b0b9c4
@colorCouleur3MoyenSup: #d1d1d1;		// TSL : 42/12/82		S L+25			//bcc5d1
@colorCouleur3Sup: #9e9e9e;				// TSL : 42/12/62		S L+5			//8e959e
@colorCouleur3Fonce: #5e5e5e;			// TSL : 42/27/37		S+15 L-20		//50565e
@colorCouleur3FonceSup: #6b6b6b;		// TSL : 42/27/42		S+15 L-15		//5b626b

//CONFIGURATION DES COULEURS SYSTÈME GÉNÉRALES
@colorText: #444;
@colorBlack: #000;
@colorWhite: #fff;
@colorSelection: @colorCouleur3Moyen;			//Also: hot pink! : #ff5e99
@colorIns: #ff9;
@colorMark: #ff0;
@colorRequired: #f55;
@colorValidate: #abbe5f;

//CONFIGURATION DES COULEURS DES SPRITES (à partir des couleurs de base)
@spriteCouleur1: @colorCouleur1;
@spriteCouleur1Clair: @colorCouleur1Clair;
@spriteCouleur1Moyen: @colorCouleur1Moyen;
@spriteCouleur1Fonce: @colorCouleur1Fonce;
@spriteCouleur2: @colorCouleur3;
@spriteCouleur2Clair: @colorCouleur3Clair;
@spriteCouleur2ClairSup: @colorCouleur3ClairSup;
@spriteCouleur2Moyen: @colorCouleur3Moyen;
@spriteCouleur2MoyenSup: @colorCouleur3MoyenSup;
@spriteCouleur2Fonce: @colorCouleur3Fonce;
@spriteCouleur2FonceSup: @colorCouleur3FonceSup;