// _NavigationBreadCrumb.less
// v1.0
// Last Updated : 2011-09-14 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/MaestroTheme/Widgets/_Widgets.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/NavigationBreadCrumb/_NavigationBreadCrumb.less";

.navigation_bread_crumb {
	
	ol {
		list-style: none;
		margin: 0;
		font-size: @fontSizeSmall;
		
		li {
			display: inline;
			list-style: none;
			margin: 0;
			&.bread_crumb_separator { padding: 0 @offS; }
		}
	}
	
}