 
/*99c3ff    
0062eb    hover
 */

#dm_page.edit .dm_widget {
    min-height: 15px;  /* afin de voir les etiquettes WIDGET sur les widget en float*/
}
#dm_page.edit .dm_widget, #dm_page .dm_widget.mouseOver {
     position: relative; 
}

#dm_page.edit .dm_widget .dm_widget_inner {
  border:0;
  -webkit-box-shadow:0 0 1px #99c3ff;
  -khtml-box-shadow:0 0 1px #99c3ff;
  -moz-box-shadow:0 0 1px #99c3ff;
  -o-box-shadow:0 0 1px #99c3ff;
  box-shadow:0 0 1px #99c3ff;
}

#dm_page.edit .dm_widget > .dm_widget_edit {
    display: block;
    margin: 0;
    line-height: 10px;
    height: 10px; 
}

#dm_page.edit .dm_widget:hover > .dm_widget_inner {
  border:0;
  -webkit-box-shadow:0 0 3px #0062eb;
  -khtml-box-shadow:0 0 3px #0062eb;
  -moz-box-shadow:0 0 3px #0062eb;
  -o-box-shadow:0 0 3px #0062eb;
  box-shadow:0 0 3px #0062eb;    
}
#dm_page.edit .dm_widget:hover > .dm_widget_edit {
    background-position: -32px -19px;
}

.dm_widgets, .dm_zone, .dm_zones {
    position: relative;
}
#dm_page .dm_widget > .dm_widget_edit {
    background: url(../images/zone_widget_sprite.png) no-repeat;
    background-position: -32px 0px;    
    width: 32px;
    position: absolute;  
    right: 50%;  /* l'étiquette d'édition "widget" au milieu du widget pour éviter des soucis d'affichage sur des widget_inner prenant 100%  */
    z-index: 1010;
}
/*#dm_page .dm_widget.navigation_menu > .dm_widget_edit {
    background: url(../images/zone_widget_sprite.png) no-repeat;
    background-position: -32px 0px;    
    width: 32px;
    position: absolute;  
    right: 75%;  
    z-index: 1010;
}*/


.dm_widget_placeholder {
    margin: 3px;
    opacity: 0.5;
}

div.dm_new_widget {
    background: url(../images/32/blackbox.png) top left no-repeat;
    padding-left: 40px;
    height: 32px;
    line-height: 32px;
}

div.dm_widget_edit div.code_editor_links {
    margin-top: 5px;
    border-top: 1px solid #888;
    padding-top: 5px;
}

div.dm_widget_edit div.code_editor_links > a {
    float: left;
    margin-right: 10px;
}

div.dm_widget_edit_dialog_wrap div.dm_cut_copy_actions a {
    display: block;
    height: 16px;
    float: left;
    margin-left: 10px;
}

a.dm_widget_record_edit,
a.dm_widget_fast_edit {
    background: url(../images/48/edit.png) top left no-repeat;
    height: 48px;
    width: 48px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}

a.dm_widget_record_edit:hover,
a.dm_widget_fast_edit:hover {
    opacity: 1;
}