// _FontNormalization.less
// v1.0
// Last Updated : 2011-03-29 10:20
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
//http://www.w3.org/TR/CSS21/fonts.html#font-shorthand
//font:13px/1.231 sans-serif;

//Déclaration des polices générales du site
body, select, input, textarea, button {
	//application des polices
	font: @fontGlobalSizePrct + e("/") + @fontGlobalLineHeight + @fontGlobalFamily;
	//IE8 ne supporte pas la notation en ligne du line-height
	line-height: @fontGlobalLineHeight;
	//couleur de texte par défaut
	color: @colorText;
}
//Hack retained to preserve specificity
.ie6, .ie7 { body, select, input, textarea, button { font-size:small; } }

//Déclaration des polices monospaces du site
//Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
code, kbd, samp, pre, tt, var {
	font-family: @fontGlobalFamilyMonospace;
	line-height: @fontGlobalLineHeightMonospace;
}