// _Wrappers.less
// v1.1
// Last Updated : 2012-01-18 11:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//container utilisé pour contenir les éléments de navigation de la page ou du widget
.navigationWrapper {
	//changement taille et apparence liens
	.link { color: @colorCouleur1; text-transform: uppercase; }
	
	//suppression bordures
	.elements {
		margin: 0;
		.element {
			font-size: @fontSizeMicro;
			line-height: @gridBaseline;
			vertical-align: top;
			//suppression bordures
			padding: 0;
			border-bottom: 0;
			&:hover { background-color: inherit; }
			&.last{ padding-bottom: 0; }
		}
	}
}

//container situés directement dans un widget en enblobant plusieurs sous-contenus
.supWrapper {
	.elements {
		.element {
			//suppression transition
			.csstransitions & {
				@transitionNone();
			}
			&:hover { background-color: transparent; }
			
			padding-bottom: @gridBaseline - 1px;
			border-bottom: 1px solid @zonesBorderColor;
			&.last { border: 0; padding-bottom: 0; }
		}
	}
	margin: 0 (@zonesOffsetPad * -1 +1px) @gridBaseline (@zonesOffsetPad * -1 +1px);
	padding: 0 (@zonesOffsetPad -1px) (@gridBaseline - 1px) (@zonesOffsetPad -1px);
	//gestion bordure du wrapper
	border-bottom: 1px solid @zonesBorderColor;
	&.last { border: 0; padding-bottom: 0; }
}

//container situé dans un sous élément (par exemple un listing)
.subWrapper {
	.elements .element & {
		//positionnement élément en ligne dans zone spécifique
		#dm_custom_bottom & .itemprop { display: inline; vertical-align: top; }
	}
}


//configuration de base des deux containers d'images
.imageWrapper, .imageGallery {
	float: right;
	.image, .link {
		margin-right: 0;
		margin-left: @gridGutter;
		&.last { margin-left: 0; }
	}
	
	//on réinitialise pour le container des équipes
	.supWrapper & {
		float: left;
		.image, .link {
			margin-right: @gridGutter;
			margin-left: 0;
			&.last { margin-right: 0; }
		}
	}
}

//listings d'éléments diverses (article, personnes, organisations, etc)
.elements {
	margin: 0 (@zonesOffsetPad * -1 +1px);
	
	.element {
		//ajout transition navigateurs modernes
		.csstransitions & {
			@transitionCompress(background-color; .5s);
		}
		&:hover { background-color: @colorCouleur3Clair; }
		
		padding: @gridBaseline/2 (@zonesOffsetPad -1px) (@gridBaseline/2 -1px) (@zonesOffsetPad -1px);
		border-bottom: 1px dashed @zonesBorderColor;
		
		//suppression bordure et padding pour dernier élément
		&.last { padding-bottom: @gridBaseline/2; border-bottom: 0; }
	}
}