// _Wrappers.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//configuration de base des deux containers d'images
.imageWrapper {
	float: right;
	.image, .link {
		margin-right: 0;
		margin-left: @gridGutter;
		&.last { margin-left: 0; }
	}
}

.elements {
	.element {
		.title {
			font-weight: bold;
			color: @colorCouleur3Fonce;
		}
	}
}