// _Wrappers.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//configuration des styles de base des différents containers pouvant servir à la mise en page du site

//affection d'un style block à tous les containers
.contentWrapper, .supWrapper, .wrapper, .subWrapper, .imageWrapper, .imageGallery { display: block; }

//configuration de base des deux containers d'images
.imageWrapper, .imageGallery {
	@getClearfix();
	float: left;
	.image, .link {
		display: block;
		float: left;
		margin-bottom: @gridBaseline;
		margin-right: @gridGutter;
		&.last { margin-right: 0; }
	}
	.link .image { float:none; margin: 0; }
}

//Liens englobants
.link_box {
	display: block;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

//container utilisé pour contenir tout le contenu d'une publication
.contentWrapper {
	//indicateur visuel indiquant que la zone a été stylée par Arnaud
	.isDev &.isVerified {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			content: "isVerified";
			color: @colorRequired;
		}
	}
}

//container situés directement dans un widget en enblobant plusieurs sous-contenus
.supWrapper {
	& > .title { margin-bottom: @gridBaseline; }
}

.date {
	font-size: @fontSizeSmall;
	line-height: @gridBaseline;
}

//elements de navigation
.navigation { display: block; clear: both; }
.navigationTop { margin-bottom: @gridBaseline; }
.navigationBottom { margin-top: @gridBaseline; }

//Gestion des listings
.elements {
	//suppression de toute marge et puce (à tester avec un article (vérifier si balisage identique)
	margin: 0;
	padding: 0;
	list-style: none;
	
	.element {
		//indicateur visuel indiquant que la zone a été stylée par Arnaud
		.isDev &.first.isVerified {
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				content: "isVerified";
				color: @colorRequired;
			}
		}
		
		.title {
			display: block;
			font-size: @fontSizeH6Px;
		}
		
		//suppression marge de la navigation
		.navigation { margin: 0; }
		
		.date {
			margin-left: @gridGutter;
		}
		
		//container de texte, on ne met les éléments en block que lorsqu'il sont contenu dedans
		.wrapper {
			.title, .date, .teaser, .telephone, .rubrique, .email, .description { display: block; }
			
			//pour faire descendre les textes sous l'image et le titre
			.title {
				background-color: lightblue;
				//& ~ .teaser, & ~ .description { clear: both; }
			}
			
			.teaser, .description {
				background-color: lightcoral;
			}
		}
	}
}