// _Wrappers.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//configuration des styles de base des différents containers pouvant servir à la mise en page du site

//affection d'un style block à tous les containers
.contentWrapper, .supWrapper, .wrapper, .subWrapper, .imageWrapper, .imageGallery { display: block; }

//configuration de base des deux containers d'images
.imageWrapper, .imageGallery {
	@getClearfix();
	float: left;
	.image, .link {
		display: block;
		float: left;
		margin-bottom: @gridBaseline;
		margin-right: @gridGutter;
		&.last { margin-right: 0; }
	}
	.link .image { float:none; margin: 0; }
}

//liens englobants en boite
.link_box {
	.isDev & { background-color: MediumPurple; }
	//force l'agrandissement en cas de présence de contenu flottant
	@getClearfix();
	display: block;
	outline: 0;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

//container utilisé pour contenir tout le contenu d'une publication
.contentWrapper {
	//indicateur visuel indiquant que la zone a été stylée par Arnaud
	.isDev &.isVerified {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			content: "isVerified";
			color: @colorRequired;
		}
	}
}

//container situés directement dans un widget en enblobant plusieurs sous-contenus
.supWrapper {
	& > .title { margin-bottom: @gridBaseline; }
}

.date {
	font-size: @fontSizeSmall;
	line-height: @gridBaseline;
}

//elements de navigation
.navigation { display: block; clear: both; }
.navigationTop { margin-bottom: @gridBaseline; }
.navigationBottom { margin-top: @gridBaseline; }

//Gestion des listings
.elements {
	//couleur de débug
	.isDev & { background-color: #777; }
	
	//suppression de toute marge et puce (à tester avec un article (vérifier si balisage identique)
	margin: 0;
	padding: 0;
	list-style: none;
	
	
	
	.element {
		//force l'agrandissement en cas de présence de contenu flottant
		@getClearfix();
		
		//couleurs de débug
		.isDev & { background-color: #999; }
		//indicateur visuel indiquant que la zone a été stylée par Arnaud
		.isDev &.first.isVerified {
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				content: "isVerified";
				color: @colorRequired;
			}
		}
		
		//séparateur de type &#160;:&#160;
		.separator { }
		
		//suppression soulignement des liens englobants en boite
		.link_box { &, &:hover { text-decoration: none; } }
		
		//configuration des différents élément en block
		.title, .name, .date, .teaser, .description, .rubrique, .email, .telephone, .faxNumber,
		.address, .streetAddress, .postalCode, .addressLocality { display: block; }
		
		//équivalent itemprop de title
		.name {
			.isDev & { background-color: lightcoral; }
			float: left;
			font-size: @fontSizeH6Px;
		}
		
		.date {
			.isDev & { background-color: lightgreen; }
			//uniquement dans le contenu où on a la place horizontale
			#dm_content & { float: left; margin-left: @offM; }
		}
		
		//permet de replacer la description sous le titre et la date
		.description {
			.isDev & { background-color: lightblue; }
			clear: both;
		}
		
		//suppression marge de la navigation
		.navigation { margin: 0; }
		
		//container de l'image
		.imageWrapper {
			.isDev & { background-color: darkblue; }
		}
		
		//container de texte, on ne met les éléments en block que lorsqu'il sont contenu dedans
		.wrapper {
			.isDev & { background-color: #bbb; }
			//positionnement général du bloc de contenu (indépendamment du placement de l'image)
			float: left;
			
			//pour faire descendre les textes sous l'image et le titre
			.title {
				//background-color: lightblue;
				//& ~ .teaser, & ~ .description { clear: both; }
			}
			
			.teaser, .description {
				//background-color: lightcoral;
			}
		}
	}
}