// _Wrappers.less
// v1.0
// Last Updated : 2011-04-18 10:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//configuration des styles de base des différents containers pouvant servir à la mise en page du site

//affection d'un style block à tous les containers
.contentWrapper, .navigationWrapper, .fileWrapper, .supWrapper, .wrapper, .subWrapper, .imageWrapper, .imageGallery { position: relative; display: block; }

//configuration de base des deux containers d'images
.imageWrapper, .imageGallery {
	@getClearfix();
	float: left;
	.image, .link {
		display: block;
		float: left;
		margin-bottom: @gridBaseline;
		margin-right: @gridGutter;
		&.last { margin-right: 0; }
	}
	.link .image { float:none; margin: 0; }
}

//liens englobants en boite
.link_box {
	.isLess & { background-color: MediumPurple; }
	//force l'agrandissement en cas de présence de contenu flottant
	@getClearfix();
	display: block;
	outline: 0;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

//container utilisé pour contenir tout le contenu d'une publication
.contentWrapper {
	
}

//container situés directement dans un widget en enblobant plusieurs sous-contenus
.supWrapper {
	.isLess & { background-color: #D9E8A5; }
	& > .title {
		.isLess & { background-color: #B7D450; }
		margin-bottom: @gridBaseline;
	}
	article & {
		.isLess & { background-color: #A8B382; }
	}
}

//styalge minimal de l'email
.email {
	//on réduit la taille et la largeur lorsque que le type est inclut avec value
	.value {
		display: inline;
		vertical-align: top;
		font-size: @fontSizeSmall;
		line-height: @gridBaseline;
		word-spacing: -0.05em;
		letter-spacing: -0.05em;
	}
}

//stylage minimal de la date
.date {
	.isLess & { background-color: lightgreen; }
	font-size: @fontSizeSmall;
	line-height: @gridBaseline;
	vertical-align: top;
}

//stylage minimal du teaser/description
.teaser, .description {
	.isLess & { background-color: fadeout(#AEDCEB, 50%); }
	//une fois que l'article est affiché en pleine page
	#dm_content article & { font-weight: bold; }
}

//séparateur de type &#160;:&#160;
.separator { }

//tiret de type &#160;-&#160;
.dash { }

//ellipsis de type &#160;(...)
.ellipsis {}

//elements de navigation
.navigation { display: block; clear: both; }
.navigationTop { margin-bottom: @gridBaseline; }
.navigationBottom { margin-top: @gridBaseline; }

//Gestion des listings
.elements {
	//couleur de débug
	.isLess & { background-color: fadeout(#999, 25%); }
	
	//suppression de toute marge et puce (à tester avec un article (vérifier si balisage identique)
	margin: 0;
	padding: 0;
	list-style: none;
	
	.element {
		//couleurs de débug
		.isLess & { background-color: #bbb; }
		
		//force l'agrandissement en cas de présence de contenu flottant
		@getClearfix();
		
		//débuggage alignements des différents éléments constitutifs des itemprops
		.type, .separator, .value, .dash, .ellipsis { line-height: @gridBaseline; vertical-align: top; }
		
		.itemscope, .itemprop,	//éléments de stype schema.org
		.title, .teaser, .date	//élements non standardisés
		{ display: block; }
		
		//configuration des différents élément en block
		//.name, .description,															//Thing
		//.jobTitle, .contactPoints,														//Person
		//.contactType, .email, .faxNumber, .telephone,									//ContactPoint
		//.streetAddress, .postalCode, .addressLocality, .addressRegion, .addressCountry,	//PostalAddress
		//.address,																		//Organization
		//.title, .teaser, .date															//CreativeWork
		
		//suppression soulignement des liens englobants en boite
		.link_box { &, &:hover { text-decoration: none; } }
		
		//équivalent itemprop de title
		.name {
			.isLess & { background-color: lightcoral; }
			font-size: @fontSizeH6Px;
		}
		
		.jobTitle {
			.isLess & { background-color: fadeout(#AEF5B0, 25%); }
		}
		
		.date {
			//uniquement dans le contenu où on a la place horizontale
			#dm_content & { margin-left: @offM; }
		}
		
		//suppression marge de la navigation
		.navigation { margin: 0; }
		
		//on modifie le comportement des éléments dans un subWrapper
		.subWrapper {
			.isLess & { background-color: Violet; }
			line-height: @gridBaseline;
			//cf http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ pour hack vertical-align
			#dm_content & span { display: inline; vertical-align: top; }
		}
		
		//container de l'image
		.imageWrapper {
			.isLess & { background-color: darkblue; }
		}
		
		//container de texte, on ne met les éléments en block que lorsqu'il sont contenu dedans
		.wrapper {
			.isLess & { background-color: #bbb; }
		}
	}
}