.black { 
	color: black;
}
.red { 
	color: red;
}
.green { 
	color: green;
}
.yellow { }
.blue { }
.purple { }
.cyan { }
.white { }
.lightBlack { }
.lightRed { }
.lightGreen { }
.lightYellow { }
.lightBlue { }
.lightPurple { }
.lightCyan { }
.lightWhite { }
.bgBlack { }
.bgRed { }
.bgGreen { }
.bgYellow { }
.bgBlue { }
.bgPurple { }
.bgCyan { }
.bgWhite { }
.lightBgBlack { }
.lightBgRed { }
.lightBgGreen { }
.lightBgYellow { }
.lightBgBlue { }
.lightBgPurple { }
.lightBgCyan { }
.lightBgWhite { }
.regular { }
.bold { }
.underline { }