// _Areas.less
// v1.0
// Last Updated : 2011-10-10 18:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//stylage du header
#dm_header {
	@verticalGradient(@colorCouleur1Clair; @colorCouleur1Moyen);
	@boxShadowPie(0 @gridBaseline/4 @gridBaseline/4 @colorCouleur2Fonce);
	//bordure ici pour prendre toute la largeur du site
	border-bottom: 1px solid @colorCouleur1Clair;
	
	.dm_zones {
		position: relative;
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
		padding-bottom: (@gridBaseline -1px);
		/*background-color: transparent;
		background-image: url(@{urlImagesTemplate}/Page/header.png);
		background-repeat: no-repeat;
		background-position: 50% bottom;
		@gridMinHeight(11);*/
	}
}

//stylage du footer
#dm_footer {
	background-color: @colorCouleur3MoyenSup;
	padding: (@gridBaseline -1px) 0 @gridBaseline 0;
	border-top: 1px solid @colorCouleur3;
	
	.dm_zones {
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
	}
	
	//widgets situés dans le footer
	.content_text {
		font-size: @fontSizeSmall;
		//background-color: lightcoral; 
		float: left;
		.text_content p {
			font-size: @fontSizeSmall;
			margin-bottom: 0;
		}
	}
	.content_link {
		//background-color: lightgreen;
		float: right;
		margin-left: @offM;
		.link { font-size: @fontSizeSmall; }  
	}
}


//stylage de la zone sous le header
#dm_custom_top {
	min-height: @gridBaseline;
	//background-color: @colorCouleur3Clair;
}

//stylage des colonnes
#dm_page {
	//.dm_layout_left .dm_zones { background-color: lightcoral; }
	//.dm_layout_right .dm_zones { background-color: lightgreen; }
	//.dm_page_content .dm_zones { background-color: #aaa; }
	
	.dm_page_content, .dm_layout_left, .dm_layout_right {
		//meilleure gestion uniformisée des bordures
		.dm_zones {
			margin: @gridBaseline (@zonesOffsetPad * -1);
		}
		
		.dm_widget {
			margin-bottom: (@gridBaseline - @zonesOffsetPad * 2);
			
			.dm_widget_inner {
				padding: (@zonesOffsetPad - @zonesOffsetBorder);
				//ajout d'une bordure dont l'épaisseur a été déduite
				border: @zonesOffsetBorder solid @zonesBorderColor;
				//suppression bordures sous niveaux
				.dm_widget { margin-bottom: 0; .dm_widget_inner { padding: 0; border: 0; } }
				
				//& > .title, article > .title {
				& > .title {
					background-color: @colorCouleur3Clair;
					color: @colorCouleur1Moyen;
					margin: (@zonesOffsetPad * -1 +1px) (@zonesOffsetPad * -1 +1px) (@gridBaseline - @zonesOffsetPad) (@zonesOffsetPad * -1 +1px);
					padding: (@zonesOffsetPad -1px);
					border-bottom: 1px solid @zonesBorderColor;
				}
			}
		}
	}
	
	.dm_page_content, .dm_layout_right {
		.dm_widget {
			.dm_widget_inner {
				
				
			}
		}
	}
	
	.dm_layout_left {
		.dm_widget {
			.dm_widget_inner {
				background-color: @colorCouleur3ClairSup;
				//.organisation { background-color: purple; }
				/*
				& > .title {
					margin-top: (@zonesOffsetPad * -1);
					//border-top: 1px solid red;
					border: 0;
					padding-top: @gridBaseline/2;
					padding-bottom: @gridBaseline/2;
				}*/
			}
		}
	}
	
	/*
	.dm_layout_left {
		.dm_zones {
			background-color: lightcoral;
			//permet de sortir de la zone
			//padding: (@zonesOffsetPad - @zonesOffsetBorder);
			//margin: (@gridBaseline - @zonesOffsetPad) (@zonesOffsetPad * -1);
			//ajout d'une bordure dont l'épaisseur a été déduite
			//border: @zonesOffsetBorder solid @colorCouleur1Clair;
		}
		
	}
	.dm_page_content, .dm_layout_right {
		.dm_zones {
			background-color: lightgreen;
			//permet de sortir de la zone
			//margin: (@gridBaseline - @zonesOffsetPad) (@zonesOffsetPad * -1) @zonesOffsetPad (@zonesOffsetPad * -1);
			//margin: @gridBaseline (@zonesOffsetPad * -1) @zonesOffsetPad (@zonesOffsetPad * -1);
		}
		
		.dm_widget {
			margin-bottom: (@gridBaseline - @zonesOffsetPad * 2);
			.dm_widget_inner {
				padding: (@zonesOffsetPad - @zonesOffsetBorder);
				//ajout d'une bordure dont l'épaisseur a été déduite
				border: @zonesOffsetBorder solid @colorCouleur1Clair;
				//suppression bordures sous niveaux
				.dm_widget { margin-bottom: 0; .dm_widget_inner { padding: 0; border: 0; } }
				
				& > .title {
					margin-top: (@zonesOffsetPad * -1 +1px);
					border-bottom: 1px solid @colorCouleur1Clair;
				}
			}
		}
	}
	*/
}