// _Areas.less
// v1.0
// Last Updated : 2011-10-10 18:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//stylage du header
.dm_layout_top {
	@verticalGradient(@colorCouleur1Clair; @colorCouleur1Moyen);
	@boxShadowPie(0 @gridBaseline/4 @gridBaseline/4 @colorCouleur2Fonce);
	//bordure ici pour prendre toute la largeur du site
	border-bottom: 1px solid @colorCouleur1Clair;
	
	.dm_zones {
		position: relative;
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
		padding-bottom: (@gridBaseline -1px);
		/*background-color: transparent;
		background-image: url({@urlImagesTemplate}/Page/header.png);
		background-repeat: no-repeat;
		background-position: 50% bottom;
		@gridMinHeight(11);*/
	}
}

//stylage du footer
.dm_layout_bottom {
	background-color: @colorCouleur3MoyenSup;
	padding: (@gridBaseline -1px) 0 @gridBaseline 0;
	border-top: 1px solid @colorCouleur3;
	
	.dm_zones {
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
	}
	
	//widgets situés dans le footer
	.content_text {
		font-size: @fontSizeSmall;
		//background-color: lightcoral; 
		float: left;
		.text_content p {
			font-size: @fontSizeSmall;
			margin-bottom: 0;
		}
	}
	.content_link {
		//background-color: lightgreen;
		float: right;
		margin-left: @offM;
		.link { font-size: @fontSizeSmall; }  
	}
}

//stylage des colonnes
#dm_page {
	//calcul décalage intérieur
	@offsetBorder: 1px;
	@offsetPad: (@gridGutter / 3);
	
	.dm_page_content, .dm_layout_left, .dm_layout_right {
		.dm_widget {
			.dm_widget_inner {
				//& > .title, article > .title {
				& > .title {
					background-color: @colorCouleur3Clair;
					color: @colorCouleur1Moyen;
					margin-right: (@offsetPad * -1 +1px);
					margin-bottom: (@gridBaseline - @offsetPad);
					margin-left: (@offsetPad * -1 +1px);
					padding: (@offsetPad -1px);
				}
			}
		}
	}
	.dm_layout_left {
		.dm_zones {
			//permet de sortir de la zone
			padding: (@offsetPad - @offsetBorder);
			margin: (@gridBaseline - @offsetPad) (@offsetPad * -1);
			//ajout d'une bordure dont l'épaisseur a été déduite
			border: @offsetBorder solid @colorCouleur1Clair;
		}
		
		.dm_widget {
			margin-top: @gridBaseline;
			&:first-child { margin-top: 0; }
			//suppression marges sous niveaux
			.dm_widget { margin-top: 0; }
			
			.dm_widget_inner {
				& > .title {
					margin-top: (@offsetPad * -1);
					border-top: 1px solid @colorCouleur1Clair;
					border-bottom: 1px solid @colorCouleur1Clair;
				}
			}
		}
	}
	.dm_page_content, .dm_layout_right {
		.dm_zones {
			//permet de sortir de la zone
			margin: (@gridBaseline - @offsetPad) (@offsetPad * -1) @offsetPad (@offsetPad * -1);
		}
		
		.dm_widget {
			margin-bottom: (@gridBaseline - @offsetPad * 2);
			.dm_widget_inner {
				padding: (@offsetPad - @offsetBorder);
				//ajout d'une bordure dont l'épaisseur a été déduite
				border: @offsetBorder solid @colorCouleur1Clair;
				//suppression bordures sous niveaux
				.dm_widget { margin-bottom: 0; .dm_widget_inner { padding: 0; border: 0; } }
				
				& > .title {
					margin-top: (@offsetPad * -1 +1px);
					border-bottom: 1px solid @colorCouleur1Clair;
				}
			}
		}
	}
}

.dm_page_content, .dm_layout_left, .dm_layout_right {
	.dm_zones {
	}
}