// NavigationMenu.dropdown.less
// v1.0
// Last Updated : 2011-11-29 12:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Config du widget courant
@import "_templates/BaseTheme/Widgets/NavigationMenu/_ConfigWidgetNavigationMenu.less";

//Importation des classes de composition du menu
@import "_framework/SPLessCss/Widgets/NavigationMenu/Dropdown/_Dropdown.less";

ul.dropdown {
	//rajout bordure à gauche sur les menus
	#dm_page &, #dm_page & ul { border-left: 1px solid @menuBorderColor; }
	
	//modifications de dimensions pour ajouts de bordures sur les côtés, et compensation décalage
	ul {
		@gridWidth(@menuDropdownCols; (@gridGutter*-1 +1px));
		margin-left: -1px;
		//on rajoute 1px en largeur par la suite afin de permettre une superposition des côtés
		ul {
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
	}
	
	#dm_page .dm_layout_left & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarLeft; 1px);
		//on décale de 2px car les menus de gauche ont une bordure de superposition dès le premier niveau
		ul {
			margin-left: -2px;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-left: -1px; }
	}
	#dm_page .dm_layout_right & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarRight; 1px);
		ul {
			margin-right: -1px;
			margin-left: 0;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-right: 0; }
	}
	
	//rajout bordure en haut sur les menus et gestion décalage
	#dm_page & ul,
	#dm_page .dm_layout_left &,
	#dm_page .dm_layout_right & {
		li.first > .link { padding-top: @gridBaseline/2; border-top: 1px solid @menuBorderColor; }
		margin-top: -1px;
		li.first > ul { margin-top: 0; }
	}
	
	//couleur de la flèche
	li.dm_dir {
		& > .link:after {
			border-color: transparent transparent transparent @menuArrowColor;
			.dm_layout_right & { border-color: transparent @menuArrowColor transparent transparent; }
		}
		& > .link:hover:after,
		&:hover > .link:after {
			border-color: @menuArrowColorSup transparent transparent transparent;
			.csstransitions.csstransforms & { border-color: transparent transparent transparent @menuArrowColorSup; }
			.csstransitions.csstransforms .dm_layout_right & { border-color: transparent @menuArrowColorSup transparent transparent; }
		}
	}
	
	//Mise en page et themage personnalisé du menu de navigation dans la zone du header
	.dm_layout_centerTop .navigation_menu & {
		//supression bordure à gauche sur le premier niveau
		#dm_page & { border-left: 0; }
		
		//ajout ombre
		ul {
			border-right: 0;
			@boxShadow(@gridBaseline/8 @gridBaseline/8 @gridBaseline/8 @colorCouleur2);
		}
		
		//modification de couleurs du menu
		.link {
			background-color: @colorCouleur2;
			color: @colorCouleur3Clair;
			
			&.dm_current { &, &:hover { color: @colorCouleur1MoyenSup; } }
			&.dm_inactive { color: @colorCouleur3Moyen; }
			//LoVe's Hurts Fade Away
			&:hover, &:focus { color: @colorCouleur3ClairSup; background-color: @colorCouleur2Sup; }
			&:active { color: @colorCouleur1Moyen; }
		}
		
		//modification de la couleur de la flèche
		li.dm_dir {
			& > .link:after {
				border-color: transparent transparent transparent @colorCouleur3Moyen;
			}
			& > .link:hover:after,
			&:hover > .link:after {
				border-color: @colorCouleur3Clair transparent transparent transparent;
				.csstransitions.csstransforms & { border-color: transparent transparent transparent @colorCouleur3Clair; }
			}
		}
		
		//gestion des cellules de premier niveau
		& > li {
			& > .link {
				margin-top: floor(@gridBaseline / 4) + 1px;
				margin-bottom: floor(@gridBaseline / 4) + 1px;
				padding-top: floor(@gridBaseline / 4) + 0px;
				padding-bottom: floor(@gridBaseline / 4) + 0px;
				border-bottom: 0;
				//ajout des transitions pour navigateurs récents
				//.csstransitions & {
				//	@transitionCompress(all; .2s; ease-in-out; 0);
				//}
			}
			//pleine hauteur lors du rollOver
			&:hover > .link,
			& > .link:hover,
			& > .link:focus {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: @gridBaseline/2;
				padding-bottom: @gridBaseline/2;
				margin-left: -1px;
				border-left: 1px solid @menuBorderColor;
			}
			
			//élargissement en pleine hauteur pour les dossiers
			&.dm_dir:hover > .link,
			&.dm_dir > .link:hover,
			&.dm_dir > .link:focus {
				padding-bottom: @menuDropdownPadV;
				border-bottom: 1px solid @menuBorderColor;
			}
			
			//rajout bordure à gauche sur la première cellule
			&.first {
				& > .link { border-left: 1px solid @menuBorderColor; }
				//suppression décalage lors du rollOver
				&:hover > .link,
				& > .link:hover,
				& > .link:focus { margin-left: 0; }
				
				//gestion décalage pour la première cellule
				ul {
					margin-left: 0;
					ul { margin-left: -1px; }
				}
			}
			
			&.dm_dir {
				//masquage de la flèche
				& > .link:after {
					display: none;
					visibility: hidden;
					//suppression animation rotation
					@transformNone();
					@transitionNone();
				}
				
				//TEST D'ANIMATION DIFFÉRENCIÉE DE LA FLÈCHE
				/*
				& > .link:after {
					//replacement
					right: 50%;
					top: 100%;
					border-color: @colorCouleur3Moyen transparent transparent transparent;
					border-width: @menuArrowDim @menuArrowDim*4;
					
					//ajout des transitions pour navigateurs récents
					.csstransitions.csstransforms.opacity & {
						//ajout délai apparition flèche
						@transitionCompress(all; 0.15s; ease-in; .15s);
						opacity: 0;
						//suppression animation rotation
						@origin(50%; 50%);
						@transformNone();
						//replacement correct
						@translate(50%; (@gridBaseline/4 -1px));
					}
				}
				& > .link:hover:after,
				&:hover > .link:after {
					//replacement
					right: 50%;
					top: 100%;
					border-width: @menuArrowDim*2 @menuArrowDim*4;
					border-color: @colorCouleur3Clair transparent transparent transparent;
					
					//ajout des transitions pour navigateurs récents
					.csstransitions.csstransforms.opacity & {
						opacity: 1;
						border-color: @colorCouleur3Clair transparent transparent transparent;
					}
				}
				*/
			}
		}
	}
}