// NavigationMenu.dropdown.less
// v1.0
// Last Updated : 2011-11-29 12:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Config du widget courant
@import "_templates/BaseTheme/Widgets/NavigationMenu/_ConfigWidgetNavigationMenu.less";

//Importation des classes de composition du menu
@import "_framework/SPLessCss/Widgets/NavigationMenu/Dropdown/_Dropdown.less";

ul.dropdown {
	//rajout bordure à gauche sur les menus
	#dm_page &, #dm_page & ul { border-left: 1px solid @menuBorderColor; }
	
	//modifications de dimensions pour ajouts de bordures sur les côtés, et compensation décalage
	ul {
		@gridWidth(@menuDropdownCols; (@gridGutter*-1 +1px));
		margin-left: -1px;
		//on rajoute 1px en largeur par la suite afin de permettre une superposition des côtés
		ul {
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
	}
	
	#dm_page .dm_layout_left & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarLeft; 1px);
		//on décale de 2px car les menus de gauche ont une bordure de superposition dès le premier niveau
		ul {
			margin-left: -2px;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-left: -1px; }
	}
	#dm_page .dm_layout_right & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarRight; 1px);
		ul {
			margin-right: -1px;
			margin-left: 0;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-right: 0; }
	}
	
	//rajout bordure en haut sur les menus et gestion décalage
	#dm_page & ul,
	#dm_page .dm_layout_left &,
	#dm_page .dm_layout_right & {
		li.first > .link { padding-top: @gridBaseline/2; border-top: 1px solid @menuBorderColor; }
		margin-top: -1px;
		li.first > ul { margin-top: 0; }
	}
	
	//couleur de la flèche
	li.dm_dir {
		& > .link:after {
			border-color: transparent transparent transparent @menuArrowColor;
			.dm_layout_right & { border-color: transparent @menuArrowColor transparent transparent; }
		}
		& > .link:hover:after,
		&:hover > .link:after {
			border-color: @menuArrowColorSup transparent transparent transparent;
			.csstransitions.csstransforms & { border-color: transparent transparent transparent @menuArrowColorSup; }
			.csstransitions.csstransforms .dm_layout_right & { border-color: transparent @menuArrowColorSup transparent transparent; }
		}
	}
	
	//Mise en page et themage personnalisé du menu de navigation dans la zone du header
	.dm_layout_centerTop .navigation_menu & {
		//ajout ombre
		ul {
			border-right: 0;
			@boxShadow(@gridBaseline/8 @gridBaseline/8 @gridBaseline/8 @colorCouleur2Moyen);
		}
		
		//modification de couleurs du menu
		.link {
			background-color: @colorCouleur2;
			color: @colorCouleur3Clair;
			
			&.dm_current { &, &:hover { color: @colorCouleur1MoyenSup; } }
			&.dm_inactive { color: @colorCouleur3Moyen; }
			//LoVe's Hurts Fade Away
			&:hover, &:focus { color: @colorCouleur3ClairSup; background-color: @colorCouleur2Sup; }
			&:active { color: @colorCouleur1Moyen; }
		}
		
		//gestion des cellules de premier niveau
		& > li {
			& > .link {
				padding-top: @gridBaseline/4;
				padding-bottom: @gridBaseline/4;
				border-bottom: 0;
				background-color: transparent;
			}
			& > ul { padding-top: @gridBaseline/4; }
		}
	}
}