// NavigationMenu.less
// v1.1
// Last Updated : 2011-11-29 12:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Config du widget courant
@import "_templates/BaseTheme/Widgets/NavigationMenu/_ConfigWidgetNavigationMenu.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/NavigationMenu/_NavigationMenu.less";

ul.dropdown, ul.accordion {
	//gestion grosseur texte
	li {
		font-weight: bold;
		text-transform: uppercase;
		word-spacing: -0.05em;
		letter-spacing: -0.05em;
	}
	ul li {
		font-weight: normal;
		text-transform: capitalize;
	}
	
	//gestion des liens
	.link {
		background-color: @colorCouleur3ClairSup;
		//padding: @menuDropdownPadV @menuDropdownPadH @menuDropdownPadV @gridGutter;
		padding: @gridBaseline/2 @menuDropdownPadH @menuDropdownPadV @gridGutter;
		border-style: solid;
		//border-width: 1px 1px 1px 0;
		//border-color: @colorCouleur3ClairSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup;
		border-width: 0 1px 1px 0;
		border-color: @menuBorderColor;
		//border-color: yellow red blue orange;
		color: @colorCouleur3Fonce;
		text-decoration: none;
		outline: 0;
		
		&.dm_current { &, &:hover { color: @colorCouleur1; } }
		&.dm_inactive { color: @colorCouleur3; }
		//LoVe's Hurts Fade Away
		&:hover, &:focus { color: @colorCouleur3FonceSup; background-color: @colorCouleur3Clair; }
		&:active { color: @colorCouleur1Moyen; }
		
		//ajout des transitions pour navigateurs récents
		.csstransitions & {
			@transitionCompress(background-color, color; .2s; ease-in-out;0);
		}
	}
	
	li {
		//création de la flèche avec des bordures
		&.dm_dir > .link {
			&:after {
				position: absolute;
				z-index: 250;
				display: block;
				content:"";
				width: 0;
				height: 0;
				right: @menuArrowOffsetX;
				top: @menuArrowOffsetY;
				//border-color: transparent transparent transparent @menuDropdownArrowColor;
				border-color: transparent;
				border-style: solid;
				border-width: @menuArrowDim;
				
				//ajout des transitions pour navigateurs récents
				.csstransitions.csstransforms & {
					@transitionCompress(all; .15s; ease-in; 0);
					@origin(25%; 50%);
				}
				
				//inversion de style automatique en fonction du conteneur
				.dm_layout_right & {
					right: auto !important;
					left: @menuArrowOffsetX;
					//border-color: transparent @menuDropdownArrowColor transparent transparent;
					
					.csstransitions.csstransforms & {
						@origin(75%; 50%);
					}
				}
			}
		}
	}
}

//comportement flèche différents selon les types de menu
ul.dropdown li.dm_dir > .link:hover:after,
ul.dropdown li.dm_dir:hover > .link:after,
ul.accordion li.dm_parent > .link:after {
	right: @menuArrowOffsetX + @menuArrowDecal;
	top: @menuArrowOffsetY + @menuArrowDecal;
	//border-color: @menuDropdownArrowColorSup transparent transparent transparent;
	
	//ajout des transitions pour navigateurs récents
	.csstransitions.csstransforms & {
		right: @menuArrowOffsetX;
		top: @menuArrowOffsetY;
		//border-color: transparent transparent transparent @menuDropdownArrowColorSup;
		@rotate(90deg);
	}
	
	//inversion de style automatique en fonction du conteneur
	.dm_layout_right & {
		right: auto !important;
		left: @menuArrowOffsetX + @menuArrowDecal;
		
		.csstransitions.csstransforms & {
			left: @menuArrowOffsetX;
			//border-color: transparent @menuDropdownArrowColorSup transparent transparent;
			@rotate(-90deg);
		}
	}
}

//mise en couleur des cellules ouvertes
ul.dropdown li.dm_dir:hover > .link,
ul.accordion li.dm_parent > .link,
ul.accordion li.dm_parent li.dm_parent > .link {
	background-color: @colorCouleur1;
	color: @colorCouleur3Clair;
	&:hover { color: @colorCouleur3ClairSup; }
}

//Mise en page et themage personnalisé du menu de navigation dans la zone du header
.dm_layout_centerTop {
	.navigation_menu {
		//permet d'étendre la zone en débordement de la page
		margin-left: -100%;
		margin-right: -100%;
		
		//dégradé vertical en fond
		//@verticalGradient(@colorCouleur2Clair; @colorCouleur2);
		background-color: @colorCouleur2;
		
		//positionnement (à décliner pour toutes les résolutions et à déplacer dans gestion grille)
		.dm_widget_inner {
			position: relative;
			@gridSiteWidth();
			margin-left: auto;
			margin-right: auto;
			padding-top: @gridBaseline/4;
			padding-bottom: @gridBaseline/4;
		}
	}
}



/*
//Mise en page et themage personnalisé du menu de navigation dans les sidebars
.dm_layout_left, .dm_layout_right {
	.navigation_menu {
		//suppression dégradé de fond
		//background: transparent;
		margin-bottom: @gridBaseline;
		
		.dm_widget_inner {
			padding-top: 0;
			padding-bottom: 0;
			border-top: 0;
			border-bottom: 0;
		}
	}
}
*/
/*
//Mise en page et themage personnalisé du menu de navigation dans la zone du header
.dm_layout_centerTop {
	.navigation_menu {
		
		
		
		
		
		
		//on affecte les dimensions en fonction du conteneur
		ul.dropdown {
			//ajout ombre
			ul {
				@boxShadow(@gridBaseline/8 @gridBaseline/8 @gridBaseline/8 @colorCouleur2Moyen);
				//largeur du niveau modifiée
				@gridWidth(3; (@gridGutter*-1));
			}
			
			//liens de tous les niveaux
			li {
				//gestion de la flèche
				&.dm_dir {
					&:after { border-color: transparent transparent transparent @colorCouleur3Clair; }
					&.hover, &:hover, &.touch {
						&:after { border-color: @colorCouleur3ClairSup transparent transparent transparent; }
					}
				}
				
				//gestion du lien
				.link { color: @colorCouleur3Clair; }
				.dm_current { color: @colorCouleur1Moyen; }
				.dm_inactive { color: @colorCouleur3Moyen; }
				&.hover, &:hover, &.touch { color: @colorCouleur3ClairSup; }
			}
			
			//couleurs des liens
			a, a:link, a:visited { color: @colorCouleur3Clair; text-decoration: none; }
			a:hover, a:focus { color: @colorCouleur3ClairSup; }
			a:active { color: @colorCouleur1Moyen; }
			
			//liens de niveau inférieur
			ul li {
				//gestion couleur de fond
				background-color: @colorCouleur2Clair;
				
				//gestion couleur de fond en rollOver
				&.hover, &:hover, &.touch { background-color: @colorCouleur2MoyenSup; }
				
				//gestion du lien
				.link {
					border-color: @colorCouleur3 @colorCouleur3Fonce @colorCouleur3Fonce @colorCouleur3Fonce;
					color: @colorCouleur3Clair;
				}
				
				//désactivation bordure haute premier lien
				&.first .link { border-top-color: transparent; }
			}
			
			//liens de premier niveau
			& > li {
				//gestion couleur de fond
				background-color: transparent;
				
				//gestion du lien
				& > .link {
					padding: (@gridBaseline/2) @menuDropdownPadH;
					border-style: solid;
					border-width: 0 1px;
					border-right-color: transparent;
					border-left-color: transparent;
				}
				
				//gestion du lien en rollOver
				&.hover, &:hover, &.touch {
					background-color: @colorCouleur2Clair;
					& > .link {
						border-right-color: @colorCouleur3;
						border-left-color: @colorCouleur3Fonce;
					}
				}
				
				//gestion de la flèche
				&.dm_dir {
					&:after {
						//replacement
						left: 50%;
						top: 100%;
						//gestion couleur flèche
						border-color: @colorCouleur3Clair transparent transparent transparent;
						border-width: 0 @menuArrowDim*2;
					}
					&.hover, &:hover, &.touch {
						&:after { border-width: @menuArrowDim @menuArrowDim*2; }
					}
				}
			}
		}
	}
}

//ajout styles navigateur récents
.rgba {
	.dm_layout_centerTop {
		.navigation_menu {
			ul.dropdown {
				//ajout couleur de fond pour correspondance transparence
				ul {
					background-color: @colorCouleur2;
					//ajout ombre
					@boxShadow(@gridBaseline/8 @gridBaseline/8 @gridBaseline/8 fadeout(@colorCouleur2Fonce,50%));
				}
				
				//liens de niveau inférieur
				ul li {
					background-color: fadeout(@colorCouleur2ClairSup, 75%);
					&.first .link { border-top-color: transparent; }
					&.hover, &:hover, &.touch { background-color: fadeout(@colorCouleur2Moyen, 50%); }
					.link { border-color: fadeout(@colorCouleur3Sup, 25%) fadeout(@colorCouleur3FonceSup, 25%) fadeout(@colorCouleur3FonceSup, 25%) fadeout(@colorCouleur3FonceSup, 25%); }
				}
				
				//liens de premier niveau
				& > li {
					&.hover, &:hover, &.touch {
						background-color: fadeout(@colorCouleur2ClairSup, 75%);
						& > .link {
							border-right-color: fadeout(@colorCouleur3Sup, 25%);
							border-left-color: fadeout(@colorCouleur3FonceSup, 25%);
						}
					}
				}
			}
		}
	}
}

.csstransitions.csstransforms.opacity {
	.dm_layout_centerTop {
		.navigation_menu {
			ul.dropdown {
				//liens de tous les niveaux
				li {
					&.dm_dir {
						&.hover, &:hover, &.touch {
							&:after { border-color: transparent transparent transparent @colorCouleur3ClairSup; }
						}
					}
				}
				
				//liens de premier niveau
				& > li {
					& > .link {
						@transitionCompress(color, border-color; .2s; ease-in-out;0);
					}
					
					&.dm_dir {
						&:after {
							//ajout délai apparition flèche
							@transitionCompress(all; 0.15s; ease-in; .15s);
							opacity: 0;
							//suppression animation rotation
							@origin(50%; 50%);
							@transformNone();
							//replacement correct
							@translateX(-50%);
						}
						&.hover, &:hover, &.touch {
							&:after {
								opacity: 1;
								//gestion couleur flèche
								border-color: @colorCouleur3ClairSup transparent transparent transparent;
							}
						}
					}
				}
			}
		}
	}
}
*/