// _Itemprop.less
// v1.0
// Last Updated : 2012-02-09 14:15
// Copyright : SID Presse
// Author : Arnaud GAUDIN


//ce fichier contient la définitions de tous les champs par défaut définits en microdata (cf http://schema.org/docs/full.html)

//CIBLEURS GÉNÉRAUX DES ITEMSCOPE ET ITEMPROP
.itemscope, .itemprop {
	//affiché en block dans les listings
	.elements .element { display: block; }
}



//THING
//http://schema.org/Thing

.description, .teaser {
	.isLess & { background-color: fadeout(#AEDCEB, 50%); }
	//une fois que l'article est affiché en pleine page
	#dm_content article & { font-weight: bold; }
}

.name, .title {
	
}


//ARTICLE
//http://schema.org/Article

//stylage minimal de la date
.date {
	.isLess & { background-color: lightgreen; }
	font-size: @fontSizeSmall;
	line-height: @gridBaseline;
	vertical-align: top;
}


//PERSON
//http://schema.org/Person




//CONTACTPOINT
//http://schema.org/ContactPoint

//styalge minimal de l'email
.email {
	//on réduit la taille et la largeur lorsque que le type est inclut avec value
	.value {
		display: inline;
		vertical-align: top;
		font-size: @fontSizeSmall;
		line-height: @gridBaseline;
		word-spacing: -0.05em;
		letter-spacing: -0.05em;
	}
}