// _Css3Background.less
// v1.0
// Last Updated : 2011-03-24 18:10
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Gestion des arrières plans
@backgroundClip(@box:border-box) {
	-webkit-background-clip: @box;	
	-khtml-background-size: @box;
	-moz-background-clip: @box;
	-o-background-clip: @box;
	background-clip: @box;
}
@backgroundOrigin(@box:padding-box) {
	-webkit-background-origin: @box;	
	-khtml-background-origin: @box;
	-moz-background-origin: @box;
	-o-background-origin: @box;
	background-origin: @box;
}
@backgroundSize(@size:auto) {
	-webkit-background-size: @size;	
	-khtml-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}