// _Css3Transform2D.less
// v1.3
// Last Updated : 2011-09-02 11:30
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Gestion des transformations 2D
//Fonctionne sur : Chrome, FireFox 3.5+, Internet Explorer 9.0+, Opera 10.5+, Safari 4+

//Listings de propriétés CSS3 utiles pour les transitions ou les animations
//@css3ListingTransform: "transform; -ms-transform; -webkit-transform; -khtml-transform; -moz-transform; -o-transform";
//@css3ListingOrigin: "transform-origin; -ms-transform-origin; -webkit-transform-origin; -khtml-transform-origin; -moz-transform-origin; -o-transform-origin";

//suppression de toute transformation
@transformNone(){
	-ms-transform: none;
	-webkit-transform: none;
	-khtml-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}

//centre d'origine de la transformation
@origin(@posX: 50%; @posY: @posX) {
	-ms-transform-origin: @posX @posY;
	-webkit-transform-origin: @posX @posY;
	-khtml-transform-origin: @posX @posY;
	-moz-transform-origin: @posX @posY;
	-o-transform-origin: @posX @posY;
	transform-origin: @posX @posY;
}

//translation sur deux axes
@translate(@offsetX: 50px; @offsetY: @offsetX) {
	-ms-transform: translate(@offsetX, @offsetY);
	-webkit-transform: translate(@offsetX, @offsetY);
	-khtml-transform: translate(@offsetX, @offsetY);
	-moz-transform: translate(@offsetX, @offsetY);
	-o-transform: translate(@offsetX, @offsetY);
	transform: translate(@offsetX, @offsetY);
}

//translation sur l'axe horizontal
@translateX(@offsetX: 50px) {
	-ms-transform: translateX(@offsetX);
	-webkit-transform: translateX(@offsetX);
	-khtml-transform: translateX(@offsetX);
	-moz-transform: translateX(@offsetX);
	-o-transform: translateX(@offsetX);
	transform: translateX(@offsetX);
}

//translation sur l'axe vertical
@translateY(@offsetY: 50px) {
	-ms-transform: translateY(@offsetY);
	-webkit-transform: translateY(@offsetY);
	-khtml-transform: translateY(@offsetY);
	-moz-transform: translateY(@offsetY);
	-o-transform: translateY(@offsetY);
	transform: translateY(@offsetY);
}

//rotation en degrés
@rotate(@deg: -15deg) {
	-ms-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-khtml-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	transform: rotate(@deg);
}

//échelle sur deux axes
@scale(@scaleX: 0.5; @scaleY: @scaleX) {
	-ms-transform: scale(@scaleX, @scaleY);
	-webkit-transform: scale(@scaleX, @scaleY);
	-khtml-transform: scale(@scaleX, @scaleY);
	-moz-transform: scale(@scaleX, @scaleY);
	-o-transform: scale(@scaleX, @scaleY);
	transform: scale(@scaleX, @scaleY);
}

//échelle homothétique
@scaleCompress(@scale: 0.5) {
	-ms-transform: scale(@scale);
	-webkit-transform: scale(@scale);
	-khtml-transform: scale(@scale);
	-moz-transform: scale(@scale);
	-o-transform: scale(@scale);
	transform: scale(@scale);
}

//échelle horizontale
@scaleX(@scaleX: 0.5) {
	-ms-transform: scaleX(@scaleX);
	-webkit-transform: scaleX(@scaleX);
	-khtml-transform: scaleX(@scaleX);
	-moz-transform: scaleX(@scaleX);
	-o-transform: scaleX(@scaleX);
	transform: scaleX(@scaleX);
}

//échelle verticale
@scaleY(@scaleY: 0.5) {
	-ms-transform: scaleY(@scaleY);
	-webkit-transform: scaleY(@scaleY);
	-khtml-transform: scaleY(@scaleY);
	-moz-transform: scaleY(@scaleY);
	-o-transform: scaleY(@scaleY);
	transform: scaleY(@scaleY);
}

//déformation sur deux axes
@skew(@skewX: -15deg; @skewY: @skewX) {
	-ms-transform: skew(@skewX, @skewY);
	-webkit-transform: skew(@skewX, @skewY);
	-khtml-transform: skew(@skewX, @skewY);
	-moz-transform: skew(@skewX, @skewY);
	-o-transform: skew(@skewX, @skewY);
	transform: skew(@skewX, @skewY);
}

//déformation horizontale
@skewX(@skewX: -15deg) {
	-ms-transform: skewX(@skewX);
	-webkit-transform: skewX(@skewX);
	-khtml-transform: skewX(@skewX);
	-moz-transform: skewX(@skewX);
	-o-transform: skewX(@skewX);
	transform: skewX(@skewX);
}

//déformation verticale
@skewY(@skewY: -15deg) {
	-ms-transform: skewY(@skewY);
	-webkit-transform: skewY(@skewY);
	-khtml-transform: skewY(@skewY);
	-moz-transform: skewY(@skewY);
	-o-transform: skewY(@skewY);
	transform: skewY(@skewY);
}

//Gestion d'une matrice de déformation
//http://www.w3schools.com/css3/css3_2dtransforms.asp
//A voir pour un développement futur selon les besoins
/*
@matrix(@rotate: -15; @scaleX: 0.5; @scaleY: @scaleX; @offsetX: 50px; @offsetY: @offsetX; @skew: -15) {
	//conversion degrés en radians
	@rotateRadian: (@mathPI * @rotate) / 180;
	@skewRadian: (@mathPI * @skew) / 180;
	
	-ms-transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
	-webkit-transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
	-khtml-transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
	-moz-transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
	-o-transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
	transform: matrix(@rotate, @scaleX, @scaleY, @offsetX, @offsetY, @skew);
}
*/