// _Css3Column.less
// v1.0
// Last Updated : 2011-05-11 9:40
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Gestion des colonnes css de base
//Fonctionne sur : Chrome, FireFox 3.6+, Internet Explorer 9.0+, Safari 4+
//http://www.evotech.net/blog/2010/02/css3-columns-browser-support
@column(@count: 2; @gap: @offL; @ruleWidth: 1px; @ruleStyle: solid; @ruleColor: @colorCouleur3Moyen; @width: auto) {
	//nombre de colonnes
	@columnCount(@count);
	//gouttière de séparation
	@columnGap(@gap);
	//bordure de séparation
	@columnRule(@ruleWidth @ruleStyle @ruleColor);
	//largeur de référence de colonne
	@columnWidth(@width);
}

//Gestion localisée du nombre de colonnes
@columnCount(@count: 2) {
	-moz-column-count: @count;
	-webkit-column-count: @count;
	-o-column-count: @count;
	column-count: @count;
}

//Gestion localisée de la gouttière de séparation
@columnGap(@gap: @gridBaseline) {
	-moz-column-gap: @gap;
	-webkit-column-gap: @gap;
	-o-column-gap: @gap;
	column-gap: @gap;
}

//Gestion localisée de la bordure de séparation
@columnRule(@rule: 1px solid @colorCouleur3Moyen) {
	-moz-column-rule: @rule;
	-webkit-column-rule: @rule;
	-o-column-rule: @rule;
	column-rule: @rule;
}

//Gestion localisée de la largeur de référence de colonne
@columnWidth(@width: auto) {
	-moz-column-width: @width;
	-webkit-column-width: @width;
	-o-column-width: @width;
	column-width: @width;
}