/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.framework {
  frameworkVersion:"0.1";
  frameworkDate:"2011-03-10T10:30";
  frameworkCopyright:"SidPresse";
  frameworkAuthor:"Arnaud GAUDIN";
}
.template {
  templateVersion:"0.1";
  templateDate:"2011-03-10T11:30";
  templateGabarit:"two-sidebars";
  templateGrid:"Grid_Default";
  templateCopyright:"SidPresse";
  templateAuthor:"Arnaud GAUDIN";
}
.main {
  mainTemplate:"tenorlight";
  mainHashMd5:"f4ad44e";
  urlImagesTemplate:"/theme/less/_templates/tenorlight/Images";
  urlImagesFramework:"/theme/less/_framework/SPLessCss/Images";
  urlImagesClient:"/theme/images";
}
.grid {
  gridContainer:"dm_main_inner";
  gridScreenType:"TabletLandscape";
  gridScreen:1024px;
  gridCol:16;
  gridCol_SidebarLeft:2;
  gridCol_SidebarRight:4;
  gridCol_Content:10;
  gridColWidth:46px;
  gridGutter:18px;
  gridBaseline:18px;
  gridWidth_Site:1006px;
  gridWidth_SidebarLeft:110px;
  gridWidth_SidebarRight:238px;
  thumbS_col:1;
  thumbS_bl:3;
  thumbM_col:2;
  thumbM_bl:4;
  thumbL_col:4;
  thumbL_bl:6;
  thumbX_col:5;
  thumbX_bl:8;
  thumbFull_col:16;
  thumbFull_bl:24;
  thumbContent_col:10;
  thumbContent_bl:15;
  thumbSidebarLeft_col:2;
  thumbSidebarLeft_bl:4;
  thumbSidebarRight_col:4;
  thumbSidebarRight_bl:8;
}
.sprite {
  spriteFormat:64px;
  spriteFormat_S:16px;
  spriteFormat_M:32px;
  spriteFormat_L:64px;
  spriteFormat_X:128px;
}
.color {
  colorCouleur1:#ec7f22;
  colorCouleur1Clair:#f9bc86;
  colorCouleur1Moyen:#ba5600;
  colorCouleur1Fonce:#a04a00;
  colorCouleur2:#473933;
  colorCouleur2Clair:#7a6a64;
  colorCouleur2ClairSup:#ad988e;
  colorCouleur2Moyen:#61514b;
  colorCouleur2MoyenSup:#6e5c54;
  colorCouleur2Sup:#54443d;
  colorCouleur2Fonce:#14100e;
  colorCouleur2FonceSup:#211916;
  colorCouleur3:#918c80;
  colorCouleur3Clair:#eae5da;
  colorCouleur3ClairSup:#f7f2e6;
  colorCouleur3Moyen:#c4bdad;
  colorCouleur3MoyenSup:#d1cab8;
  colorCouleur3Sup:#9e988b;
  colorCouleur3Fonce:#5e5645;
  colorText:#222222;
  colorBlack:#000000;
  colorWhite:#ffffff;
  colorSelection:#c4bdad;
  colorIns:#ffff99;
  colorMark:#ffff00;
  colorRequired:#ff5555;
  colorValidate:#abbe5f;
  spriteCouleur1:#ec7f22;
  spriteCouleur1Clair:#f9bc86;
  spriteCouleur1Moyen:#ba5600;
  spriteCouleur1Fonce:#a04a00;
  spriteCouleur2:#918c80;
  spriteCouleur2Clair:#eae5da;
  spriteCouleur2ClairSup:#f7f2e6;
  spriteCouleur2Moyen:#c4bdad;
  spriteCouleur2MoyenSup:#d1cab8;
  spriteCouleur2Fonce:#5e5645;
  spriteCouleur2FonceSup:#6b624e;
}
