// _Links.less
// v1.0
// Last Updated : 2011-04-12 09:35
// Copyright : SID Presse
// Author : Arnaud GAUDIN


//affectation des styles des liens à différents endroits de l'interface

// L'orde est basé sur cet article :
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
// LoVe’s Hurts Fade Away

//DEBUG DIVERSES

//soulignement par défaut
a { text-decoration: underline; }

//Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test
a:hover, a:active { outline: none; }

//affection curseur par défaut et pour les liens n'ayant pas de href (sous IE6)
a[href=''], a:hover, a:focus { cursor: pointer; }

//j.mp/webkit-tap-highlight-color
a:link { -webkit-tap-highlight-color: @colorSelection; }	//tester avec @colorMarkIns

//couleurs par défaut (sur fond blanc)
//a, a:active, a:visited { color: #607890; }
//a:hover { color: #036; }

a { color: @colorCouleur3FonceSup; }
//a:link { }
a:visited { color: @colorCouleur3FonceSup; }
a:hover, a:focus { color: @colorCouleur3Fonce; }
// { color: @colorCouleur3Fonce; }
a:active { color: @colorCouleur3FonceSup; }
