// _WidgetsBase.less
// v1.0
// Last Updated : 2011-09-14 15:10
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Ce fichier permet d'initialiser un style par défaut pour tous les widgets et n'est inclu qu'une seule fois dans le template

//Importation en dur des styles des widgets (en attendant séparation dans fichiers Less séparés)
@import "_templates/MaestroTheme/Widgets/MainHeader/_MainHeader.less";
@import "_templates/MaestroTheme/Widgets/MainFooter/_MainFooter.less";
@import "_templates/MaestroTheme/Widgets/SearchForm/_SearchForm.less";
@import "_templates/MaestroTheme/Widgets/NavigationBreadCrumb/_NavigationBreadCrumb.less";
@import "_templates/MaestroTheme/Widgets/DmTagPopular/_DmTagPopular.less";

//Configuration par défaut de tous les widgets
.dm_widget {
	.dm_widget_inner {
		//padding interne par défaut
		padding: @gridBaseline 0;
		
		//ciblage précis afin d'éviter de cibler les titre d'article contenu à l'intérieur des widgets
		& > .title, article > .title {
			//background-color: green;
			text-transform: uppercase;
			font-weight: normal;
			margin-bottom: @gridBaseline;
			color: @colorCouleur1;
		}
	}
}

//Spécificité de mise en page des widgets selon leurs zones de contenu
.dm_layout_bottom {
	background-color: @colorCouleur3Fonce;
	.dm_zones {
		@gridSiteWidth();
		margin-left: auto;
		margin-right: auto;
	}
	
	.dm_widget, .link { color: @colorCouleur3Clair; }
	.dm_widget_inner { padding: 0; }
	
	//widgets situés dans le footer
	.content_text {
		font-size: @fontSizeSmall;
		//background-color: lightcoral; 
		float: left;
		.text_content p {
			font-size: @fontSizeSmall;
			margin-bottom: 0;
		}
	}
	.content_link {
		//background-color: lightgreen;
		float: right;
		margin-left: @offM;
		.link { font-size: @fontSizeSmall; }  
	}
}

.dm_layout_centerTop {
	.dm_widget_inner { padding: 0; }
}

.dm_layout_centerBottom {
	//background-color: orangered;
	
	//on disive en deux areas distinctes
	.dm_area { float: right; }
	
	.dm_layout_centerBottomLeft {
		//background-color: lightcoral;
		@gridWidth(@gridCol_SidebarLeft);
		position: absolute;
		left: 0;
		bottom: 0;
	}
	
	.dm_layout_centerBottomRight {
		background-color: @colorCouleur3Clair;
		@gridWidth(@gridCol_Content);
		margin-left: @gridGutter;
	}
	
	//on ajoute une marge et un fond à tous les widgets contenus dans cette zone
	.dm_widget {
		.dm_widget_inner {
			padding: @gridBaseline @gridGutter;
			& > .title { color: @colorCouleur3Fonce; }
		}
	}
}

.dm_layout_left {
	
}

//RenseignementShow
.renseignements_show {
	//background-color: PaleVioletRed;
	@gridWidth(3);
	.dm_widget_inner {
		padding: @gridBaseline @gridGutter;
		@getPxFontConfig(@fontSizeSmall);
		
		.organisation {
			color: @colorCouleur3;
			.name {
				font-weight: bold;
				color: @colorCouleur3Fonce;
			}
			.link { color: @colorCouleur3Sup; }
		}
	}
}

//BandeauShow
.bandeau_smart_bandeau  {
	//background-color: lime;
	.dm_widget_inner {
		color: @colorCouleur1;
		text-transform: uppercase;
		//suppresion padding interne par défaut
		padding: 0;
	}
}