// _Sprites.less
// v1.0
// Last Updated : 2011-12-23 16:00
// Copyright : SID Presse
// Author : Arnaud GAUDIN

@testDim: 64;

.sprite-navigation-home {
	float: left;
	background-color: @colorCouleur3ClairSup;
	@spriteDefinition("Default"; "navigation"; "home"; @testDim; 0; 0);
}

.sprite-navigation-search {
	float: left;
	background-color: @colorCouleur3Clair;
	@spriteDefinition("Default"; "navigation"; "home"; @testDim; 1; 0);
}

.sprite-socialnetwork-global {
	float: left;
	background-color: @colorCouleur3Clair;
	@spriteDefinition("Default"; "socialnetwork"; "global"; @testDim; 0; 1);
}

.sprite-socialnetwork-twitter {
	float: left;
	background-color: @colorCouleur3Clair;
	@spriteDefinition("Default"; "socialnetwork"; "twitter"; @testDim; 1; 1);
}