// _Default.less
// v0.2
// Last Updated : 2011-08-25 14:00
// Copyright : SID Presse | 2006-2008 Live Web Institute (http://www.lwis.net)
// Author : Arnaud GAUDIN

//Compatibilité navigateurs : 	Windows: IE6+, Opera7+, Firefox1+
//								Mac OS: Safari2+, Firefox2+

//CALCUL DES DIMENSIONS POUR LE MENU
//calcul des paddings
@menuDropdownPadH: (@gridGutter -1px);
@menuDropdownPadV: (@gridBaseline/2 - 1px);
//calcul dimensions flèche
@menuArrowDim: @gridBaseline/3;
//offset de décalage de positionnement
@menuArrowDecal: @menuArrowDim/2;
//positionnement initial à droite 
@menuArrowOffsetX: (@offM - @menuArrowDecal);
@menuArrowOffsetY: @menuDropdownPadV + (@gridBaseline - @menuArrowDim*2)/2 + 1px;

ul.dropdown, ul.accordion {
	//gestion grosseur texte
	li{ font-weight: bold; }
	ul li { font-weight: normal; }
	
	//rajout bordure du haut et sur les côtés
	#dm_page .dm_layout_left &, #dm_page .dm_layout_left & ul { border-left: 1px solid @colorCouleur1Clair; }
	#dm_page .dm_layout_right &, #dm_page .dm_layout_right & ul { border-left: 1px solid @colorCouleur1Clair; }
	#dm_page .dm_layout_centerTop &, #dm_page .dm_layout_centerTop & ul { border-left: 1px solid @colorCouleur1Clair; }
	
	//MODIFICATIONS DE DIMENSIONS POUR AJOUTS DE BORDURES SUR LES CÔTÉS
	//gestion placement vertical
	#dm_page .dm_layout_centerTop & {
		ul {
			margin-left: -1px;
			@gridWidth(2; (@gridGutter*-1 +1px));
		}
		ul ul {
			@gridWidth(2; (@gridGutter*-1));
		}
	}
	#dm_page .dm_layout_left & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarLeft; 1px);
		ul { margin-left: -2px; }
		ul ul { margin-left: -1px; }
	}
	#dm_page .dm_layout_right & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarRight; 1px);
		ul { margin-right: -1px; }
		ul ul { margin-right: 0; }
	}
	
	//gestion des liens
	.link {
		background-color: @colorCouleur3Clair;
		//padding: @menuDropdownPadV @menuDropdownPadH @menuDropdownPadV @gridGutter;
		padding: @gridBaseline/2 @menuDropdownPadH @menuDropdownPadV @gridGutter;
		border-style: solid;
		//border-width: 1px 1px 1px 0;
		//border-color: @colorCouleur3ClairSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup;
		border-width: 0 1px 1px 0;
		border-color: @colorCouleur1Clair;
		//border-color: yellow red blue orange;
		color: @colorCouleur3Fonce;
		text-decoration: none;
		
		&.dm_current { color: @colorCouleur1Moyen; }
		&.dm_inactive { color: @colorCouleur3; }
		
		//LoVe's Hurts Fade Away
		&:hover, &:focus { color: @colorCouleur1; background-color: @colorCouleur3ClairSup; }
		&:active { color: @colorCouleur1Moyen; }
		
		//ajout des transitions pour navigateurs récents
		.csstransitions & {
			@transitionCompress(background-color, color; .2s; ease-in-out;0);
		}
	}
	
	//décalage vertical pour compenser la bordure
	ul { .dm_layout_left &, .dm_layout_right &, .dm_layout_centerTop & { margin-top: -1px; } }
	
	//suppression bordure de gauche pour les cellules de premier niveau
	//& > li > .link { border-left-width: 0; }
	
	//suppression du décalage pour les premiers
	li.first {
		& > .link { border-top-width: 1px; }
		.dm_layout_left &, .dm_layout_right & { ul { margin-top: 0; } }
	}
	& > li.first {
		& > .link, li.first > .link {
			padding-top: @menuDropdownPadV;
		}
	}
	.dm_layout_centerTop & ul li.first > .link { padding-top: @gridBaseline/2; }
	
	li {
		//création de la flèche avec des bordures
		&.dm_dir > .link {
			&:after {
				position: absolute;
				z-index: 250;
				display: block;
				content:"";
				width: 0;
				height: 0;
				right: @menuArrowOffsetX;
				top: @menuArrowOffsetY;
				border-color: transparent transparent transparent @colorCouleur3Fonce;
				border-style: solid;
				border-width: @menuArrowDim;
				
				//ajout des transitions pour navigateurs récents
				.csstransitions.csstransforms & {
					@transitionCompress(all; .15s; ease-in; 0);
					@origin(25%; 50%);
				}
				
				//inversion de style automatique en fonction du conteneur
				.dm_layout_right & {
					right: auto !important;
					left: @menuArrowOffsetX;
					border-color: transparent @colorCouleur3Fonce transparent transparent;
					
					.csstransitions.csstransforms & {
						@origin(75%; 50%);
					}
				}
			}
		}
	}
}

//comportement flèche différents selon les types de menu
ul.dropdown li.dm_dir > .link:hover:after,
ul.dropdown li.dm_dir:hover > .link:after,
ul.accordion li.dm_parent > .link:after {
	right: @menuArrowOffsetX + @menuArrowDecal;
	top: @menuArrowOffsetY + @menuArrowDecal;
	border-color: @colorCouleur1 transparent transparent transparent;
	
	//ajout des transitions pour navigateurs récents
	.csstransitions.csstransforms & {
		right: @menuArrowOffsetX;
		top: @menuArrowOffsetY;
		border-color: transparent transparent transparent @colorCouleur1;
		@rotate(90deg);
	}
	
	//inversion de style automatique en fonction du conteneur
	.dm_layout_right & {
		right: auto !important;
		left: @menuArrowOffsetX + @menuArrowDecal;
		
		.csstransitions.csstransforms & {
			left: @menuArrowOffsetX;
			border-color: transparent @colorCouleur1 transparent transparent;
			@rotate(-90deg);
		}
	}
}

/*
.csstransitions.csstransforms {
	ul.accordion {
		.dm_dir > .link {
			&:after {
				@transitionCompress(all; .15s; ease-in; 0);
				@origin(25%; 50%);
			}
		}
		.dm_parent > .link {
			&:after {
				right: @menuArrowOffsetX;
				bottom: @menuArrowOffsetY;
				top: @menuArrowOffsetY;
				border-color: transparent transparent transparent @colorCouleur1;
				@rotate(90deg);
			}
		}
	}
	.dm_layout_right {
		ul.accordion {
			.dm_dir > .link {
				&:after {
					@origin(75%; 50%);
				}
			}
			.dm_parent > .link {
				&:after {
					right: auto !important;
					left: @menuArrowOffsetX;
					top: @menuArrowOffsetY;
					border-color: transparent @colorCouleur3Fonce transparent transparent;
					@rotate(-90deg);
				}
			}
		}
	}
}

.csstransitions.csstransforms {
	ul.dropdown li.dm_dir {
		&:after {
			@transitionCompress(all; .15s; ease-in; 0);
		}
		&.hover, &:hover, &.touch {
			&:after {
				right: @menuArrowOffsetX;
				bottom: @menuArrowOffsetY;
				border-color: transparent transparent transparent @colorCouleur1;
				@origin(25%; 50%);
				@rotate(90deg);
			}
		}
	}
	.dm_layout_right {
		ul.dropdown li.dm_dir {
			&.hover, &:hover, &.touch {
				&:after {
					right: auto !important;
					left: @menuArrowOffsetX;
					border-color: transparent @colorCouleur3Fonce transparent transparent;
					@origin(75%; 50%);
					@rotate(-90deg);
				}
			}
		}
	}
}

//ajout des transitions pour navigateurs récents
.csstransitions.opacity {
	ul.dropdown {
		li {
			@transitionCompress(background-color; .2s; ease-in-out;0);
			
			.link, a {
				@transitionCompress(color; .2s; ease-in-out;0);
			}
			
			ul {
				opacity: 0;
				//@transitionCompress(visibility, opacity; .2s; ease-out; .2s, 0);
				//safari ne supporte pas la déclaration séparé complète différencié en pseudo classe
				//@transition(visibility, opacity; 1s; ease-out; 1s, 0);
				@transitionProperty(visibility, opacity);
				@transitionDuration(.2s);
				@transitionFunction(ease-out);
				@transitionDelay(.2s, 0);
			}
			
			&.hover, &:hover, &.touch {
				& > ul {
					opacity: 1;
					//@transitionCompress(visibility, opacity; .2s; ease-out; 0);
					//safari ne supporte pas la déclaration partielle différencié en pseudo classe
					@transitionDelay(0);
				}
			}
		}
	}
}


*/