// _Default.less
// v0.2
// Last Updated : 2011-08-25 14:00
// Copyright : SID Presse | 2006-2008 Live Web Institute (http://www.lwis.net)
// Author : Arnaud GAUDIN

//Compatibilité navigateurs : 	Windows: IE6+, Opera7+, Firefox1+
//								Mac OS: Safari2+, Firefox2+

//CALCUL DES DIMENSIONS POUR LE MENU
//nombre de colonnes pour le contenu des cellules
@menuDropdownCols: 3;
//calcul des paddings
@menuDropdownPadH: (@gridGutter -1px);
@menuDropdownPadV: (@gridBaseline/2 - 1px);
//calcul dimensions flèche
@menuArrowColor: @colorCouleur1Fonce;
@menuArrowColorSup: @colorCouleur1;
//@menuArrowDim: @gridBaseline/3;
@menuArrowDim: 4px;
//offset de décalage de positionnement
@menuArrowDecal: @menuArrowDim/2;
//positionnement initial à droite 
@menuArrowOffsetX: (@offM - @menuArrowDecal);
@menuArrowOffsetY: @menuDropdownPadV + (@gridBaseline - @menuArrowDim*2)/2 + 1px;
//couleur de la bordure de séparation du menu
@menuBorderColor: @colorCouleur1Clair;

ul.dropdown, ul.accordion {
	//gestion grosseur texte
	li{ font-weight: bold; }
	ul li { font-weight: normal; }
	
	//gestion des liens
	.link {
		background-color: @colorCouleur3ClairSup;
		//padding: @menuDropdownPadV @menuDropdownPadH @menuDropdownPadV @gridGutter;
		padding: @gridBaseline/2 @menuDropdownPadH @menuDropdownPadV @gridGutter;
		border-style: solid;
		//border-width: 1px 1px 1px 0;
		//border-color: @colorCouleur3ClairSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup @colorCouleur3MoyenSup;
		border-width: 0 1px 1px 0;
		border-color: @menuBorderColor;
		//border-color: yellow red blue orange;
		color: @colorCouleur3Fonce;
		text-decoration: none;
		
		&.dm_current { &, &:hover { color: @colorCouleur1; } }
		&.dm_inactive { color: @colorCouleur3; }
		
		//LoVe's Hurts Fade Away
		&:hover, &:focus { color: @colorCouleur3FonceSup; background-color: @colorCouleur3Clair; }
		&:active { color: @colorCouleur1Moyen; }
		
		//ajout des transitions pour navigateurs récents
		.csstransitions & {
			@transitionCompress(background-color, color; .2s; ease-in-out;0);
		}
	}
	
	li {
		//création de la flèche avec des bordures
		&.dm_dir > .link {
			&:after {
				position: absolute;
				z-index: 250;
				display: block;
				content:"";
				width: 0;
				height: 0;
				right: @menuArrowOffsetX;
				top: @menuArrowOffsetY;
				border-color: transparent transparent transparent @menuArrowColor;
				border-style: solid;
				border-width: @menuArrowDim;
				
				//ajout des transitions pour navigateurs récents
				.csstransitions.csstransforms & {
					@transitionCompress(all; .15s; ease-in; 0);
					@origin(25%; 50%);
				}
				
				//inversion de style automatique en fonction du conteneur
				.dm_layout_right & {
					right: auto !important;
					left: @menuArrowOffsetX;
					border-color: transparent @menuArrowColor transparent transparent;
					
					.csstransitions.csstransforms & {
						@origin(75%; 50%);
					}
				}
			}
		}
	}
}

//comportement flèche différents selon les types de menu
ul.dropdown li.dm_dir > .link:hover:after,
ul.dropdown li.dm_dir:hover > .link:after,
ul.accordion li.dm_parent > .link:after {
	right: @menuArrowOffsetX + @menuArrowDecal;
	top: @menuArrowOffsetY + @menuArrowDecal;
	border-color: @menuArrowColorSup transparent transparent transparent;
	
	//ajout des transitions pour navigateurs récents
	.csstransitions.csstransforms & {
		right: @menuArrowOffsetX;
		top: @menuArrowOffsetY;
		border-color: transparent transparent transparent @menuArrowColorSup;
		@rotate(90deg);
	}
	
	//inversion de style automatique en fonction du conteneur
	.dm_layout_right & {
		right: auto !important;
		left: @menuArrowOffsetX + @menuArrowDecal;
		
		.csstransitions.csstransforms & {
			left: @menuArrowOffsetX;
			border-color: transparent @menuArrowColorSup transparent transparent;
			@rotate(-90deg);
		}
	}
}

ul.dropdown {
	//rajout bordure à gauche sur les menus
	#dm_page &, #dm_page & ul { border-left: 1px solid @menuBorderColor; }
	
	//modifications de dimensions pour ajouts de bordures sur les côtés, et compensation décalage
	ul {
		@gridWidth(@menuDropdownCols; (@gridGutter*-1 +1px));
		margin-left: -1px;
		//on rajoute 1px en largeur par la suite afin de permettre une superposition des côtés
		ul {
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
	}
	
	#dm_page .dm_layout_left & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarLeft; 1px);
		//on décale de 2px car les menus de gauche ont une bordure de superposition dès le premier niveau
		ul {
			margin-left: -2px;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-left: -1px; }
	}
	#dm_page .dm_layout_right & {
		//largeur en fonction de la zone
		@gridWidth(@gridCol_SidebarRight; 1px);
		ul {
			margin-right: -1px;
			margin-left: 0;
			@gridWidth(@menuDropdownCols; (@gridGutter*-1));
		}
		ul ul { margin-right: 0; }
	}
	
	//rajout bordure en haut sur les menus et gestion décalage
	#dm_page & ul,
	#dm_page .dm_layout_left &,
	#dm_page .dm_layout_right & {
		li.first > .link { padding-top: @gridBaseline/2; border-top: 1px solid @menuBorderColor; }
		margin-top: -1px;
		li.first > ul { margin-top: 0; }
	}
}

ul.accordion {
	//rajout bordure à gauche sur le menu principal
	#dm_page & { border-left: 1px solid @menuBorderColor; }
	
	//rajout bordure en haut sur le menu principal et gestion décalage
	#dm_page & {
		& > li.first > .link { border-top: 1px solid @menuBorderColor; }
		margin-top: -1px;
	}
	
	li.dm_parent {
		& > .link {
			background-color: @colorCouleur1;
			color: @colorCouleur3Clair;
		}
		/*& > ul > li .link {
			background-color: @colorCouleur3Clair;
			&:hover { background-color: @colorCouleur3ClairSup; }
		}*/
	}
}