// _MainLessDebug.less
// v1.0
// Last Updated : 2011-09-05 9:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//Config par défaut des widgets du template
@import "_templates/BaseTheme/Widgets/_Widgets.less";

//Importation de la mise en page par défaut du widget
@import "_framework/SPLessCss/Widgets/MainLessDebug/_MainLessDebug.less";

.main_less_debug {
	//placement absolue en haut à droite de la page
	top: @gridBaseline*4;
	right: @gridGutter;
	//forçage d'affichage au premier plan
	z-index: 100000;
	
	.dm_widget_inner{
		background-color: @colorCouleur3Clair;
		padding: (@gridBaseline -1px) (@gridGutter -1px);
		border: 1px solid @colorCouleur3Moyen;
	}
}
.rgba {
	.main_less_debug .dm_widget_inner { background-color: fadeout(@colorCouleur3ClairSup, 25%); }
}

//ajout placement personnalisé de la div de debug flotante
.debug, .warning {
	top: @gridBaseline;
	right:0;
	//forçage d'affichage au premier plan
	z-index: 100000;
	content: 'eeee';
	padding: (@gridBaseline -1px) (@gridGutter -1px);
	
	&:before {
		content: 'X';
		position: absolute;
		font-size: @fontSizeSmall;
		right: 1px;
		top: 0;
		font-weight: bold;
	}
}

.debug {
	background-color: @colorCouleur3Clair;
	border: 1px solid @colorCouleur3Moyen;
	
	//couleurs des valeurs affichées
	.type, .info { font-weight: bold; color: @colorCouleur3Fonce; }
	.value { font-weight: normal; color: @colorCouleur3; }
}

.warning {
	background-color: lighten(desaturate(@colorRequired,50%), 25%);
	border: 1px solid @colorRequired;
	
	//couleurs des valeurs affichées
	.info { font-weight: bold; color: darken(desaturate(@colorRequired,25%),45%); }
	.value { font-weight: normal; color: darken(desaturate(@colorRequired,25%),35%); }
}

.rgba { 
	.debug { background-color: fadeout(@colorCouleur3ClairSup, 25%); }
	.warning { background-color: fadeout(lighten(@colorRequired,30%), 25%); }
}

