// _ConfigGrid.less
// v0.1
// Last Updated : 2011-09-26 16:50
// Copyright : SID Presse
// Author : Arnaud GAUDIN


//CONFIGURATION DE LA GRILLE DE COMPOSITION
@gridContainer: "dm_main";						//toujours entre guillemets : body | dm_page | dm_main (ne pas mettre # devant les ID)

//nombre de colonnes en fonction des résolutions
@gridCol_DesktopWUXGA: 20;					//largeur 78/12 : 1788px
@gridCol_DesktopWSXGAplus: 17;				//largeur 78/12 : 1518px
@gridCol_DesktopWSXGA: 15;					//largeur 78/12 : 1338px
@gridCol_DesktopWXGA: 13;					//largeur 78/12 : 1158px
@gridCol_TabletLandscape: 10;				//largeur 78/12 : 888px
@gridCol_TabletPortrait: 8;					//largeur 78/12 : 708px
@gridCol_MobileLandscape: 5;				//largeur 78/12 : 438px
@gridCol_MobilePortrait: 3;					//largeur 78/12 : 258px

@gridScreen: @gridScreen_TabletLandscape;		//type d'écran ciblé par défaut par la grille
@gridCol: @gridCol_TabletLandscape;				//nombre de colonnes par défaut

@gridCol_SidebarLeft: 2;						//nombre de colonnes par défaut pour la sidebarLeft
@gridCol_SidebarRight: 4;						//nombre de colonnes par défaut pour la sidebarRight
@gridCol_Content: (@gridCol - @gridCol_SidebarLeft - @gridCol_SidebarRight);		//nombre de colonnes par défaut pour le contenu

@gridScrollbarWidth: 32px;						//largeur par défaut de la scrollbar
@gridColWidth: 78px;							//initialement 68 chez less Framework
@gridGutter: 18px;								//initialement 24 chez less Framework
@gridPadding: @gridColWidth + @gridGutter;		//padding intérieur de la grille


//CONFIGURATION DES POLICES (TAILLE RELATIVE À LA GRILLE DE COMPOSITION)

//les tailles doivent être définies en px mais sans préciser l'unité, celle-ci est automatiquement convertie en unité em relatives
@fontGlobalSize: 12;
//utilisés auparavant, étudier impact d'une possible suppression définitive
//@fontSizeH1: 22;
//@fontSizeH2: 18;
//@fontSizeH3: 16;
//@fontSizeH4: 14;
//@fontSizeH5: 13;
//@fontSizeH6: 12;

@fontGlobalSizePx: 12px;			//permet un équivalent line-height de 1.5em
@fontSizeMicro: 8px;				//utilisé pour du texte devant être présent mais pas forcément être lu facilement ;-)
@fontSizeSmall: 10px;				//utilisé pour du texte devant être mis en retrait
@fontSizeH1Px: 32px;				//24 (ancien ref)
@fontSizeH2Px: 26px;				//20 (ancien ref)
@fontSizeH3Px: 22px;				//18 (ancien ref)
@fontSizeH4Px: 18px;				//16 (ancien ref)
@fontSizeH5Px: 14px;				//13 (ancien ref)
@fontSizeH6Px: 13px;				//12 (ancien ref)



//DIMENSIONS ICONES DE VALIDATION
@icoTotalHeight: 80px;
@icoIconHeight: 16px;
@icoOffset: 3px;