// MaestroTheme.less
// v0.1
// Last Updated : 2011-04-18 15:45
// Copyright : SID Presse
// Author : Arnaud GAUDIN

//importation des fichiers de config
@import "_templates/MaestroTheme/Config/_ConfigInit.less";

//IMPORTATION DES DIFFÉRENTS ÉLÉMENTS CONSTITUTIFS DU TEMPLATE
//Styles de base des éléments
@import "_templates/MaestroTheme/Elements/_Elements.less";
//Style par défaut des widgets du template
@import "_templates/MaestroTheme/Widgets/_WidgetsBase.less";

//----------------------------------------------------------------------------------------------------------------------------------------//
//----------------------------------------------------CONFIGURATION GÉNÉRALE DU LAYOUT----------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------------//

//CODE À REFACTORISER DANS LES DIFFÉRENTES CLASSES ET DOSSIERS DU THÈME
#dm_page {
	background-color: Lightblue;
}

.dm_page_content {
	background-color: MediumAquamarine;
}

.dm_layout_left {
	background-color: LightPink;
}

.dm_layout_right {
	background-color: PaleGreen;
}

.dm_layout_centerTop {
	background-color: red;
}

.dm_layout_centerBottom {
	background-color: orange;
}